/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

a:hover {
  text-decoration: none; }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/*Placeholders*/
/*Truncate*/
/*--------------------------------
	Responsive ratio
	Used for creating scalable elements that maintain the same ratio
	example: .element { @include responsive-ratio(400, 300); }
*/
.tab_nav_lst, .popup_result_lst, .history_auction_lst, .footer_menu, .nav_main_lst, .menu_mobile_lst, .box_posts_list, .posts_summary ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.container-custom {
  width: 100%;
  max-width: none;
  padding-right: 8px;
  padding-left: 8px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container-custom {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container-custom {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container-custom {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container-custom {
    max-width: 1140px; } }

.container-fluid-custom {
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  margin-right: auto;
  margin-left: auto; }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 8px;
  padding-left: 8px; }

.row {
  margin-left: -8px;
  margin-right: -8px; }

html, body {
  height: 100%; }

a {
  color: #333;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  a:hover {
    color: #F8A136; }
  a.color_blue:hover, a.color_link:hover {
    color: #F8A136; }
  a.color_orange:hover {
    color: #333; }

img {
  max-width: 100%; }

hr {
  border-color: #F9F9F9; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.white_space_nowarp {
  white-space: nowrap; }

.text_center {
  text-align: center !important; }

.text_left {
  text-align: left !important; }

.text_right {
  text-align: right !important; }

.color_red {
  color: #CE2B2C; }

.color_orange {
  color: #F8A136; }

.color_orange_secondary {
  color: #F28C25; }

.color_orange_third {
  color: #E2751B; }

.color_blue {
  color: #0377AE; }

.color_link {
  color: #0377AE; }

.color_gray {
  color: #808285; }

.color_green {
  color: #7EC362; }

.color_heart {
  color: #ec1e3c; }

.fw_light {
  font-weight: 300; }

.fw_regular {
  font-weight: 400; }

.fw_normal {
  font-weight: 400; }

.fw_medium {
  font-weight: 500; }

.fw_bold {
  font-weight: 700; }

.font_size_0 {
  font-size: 0 !important; }

.font_size_xs,
.font_size_12 {
  font-size: 12px; }

.font_size_s,
.font_size_14 {
  font-size: 14px; }

.font_size_m,
.font_size_16 {
  font-size: 16px; }

.font_size_b,
.font_size_18 {
  font-size: 18px; }

.font_size_bb,
.font_size_20 {
  font-size: 20px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.count_box {
  display: flex;
  text-align: center; }
  .count_box a {
    background: #E6E6E6;
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    color: #333; }
    .count_box a:hover {
      color: #F8A136; }
  .count_box .count_input {
    border: solid 1px #E6E6E6;
    width: 50px;
    text-align: center; }

.tab_nav_lst {
  display: flex;
  overflow: hidden; }
  .tab_nav_lst.tab_nav_lst--primary {
    background: white;
    color: #F8A136;
    margin-bottom: 15px;
    font-size: 12px; }
    .tab_nav_lst.tab_nav_lst--primary .tab_item {
      border: solid 1px #F8A136;
      margin: 0 4px 0 0;
      white-space: nowrap;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */ }
      .tab_nav_lst.tab_nav_lst--primary .tab_item:hover, .tab_nav_lst.tab_nav_lst--primary .tab_item.active {
        background: #F8A136; }
        .tab_nav_lst.tab_nav_lst--primary .tab_item:hover a, .tab_nav_lst.tab_nav_lst--primary .tab_item.active a {
          color: white; }
      .tab_nav_lst.tab_nav_lst--primary .tab_item:last-child {
        margin: 0; }
  .tab_nav_lst.tab_nav_lst--secondary {
    background: #E6E6E6;
    width: 100%;
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    .tab_nav_lst.tab_nav_lst--secondary .tab_item {
      -webkit-border-radius: 8px 8px 0 0;
      border-radius: 8px 8px 0 0;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */ }
  .tab_nav_lst .tab_item {
    cursor: pointer; }
    .tab_nav_lst .tab_item a {
      display: block;
      padding: 5px 15px; }
    .tab_nav_lst .tab_item:hover, .tab_nav_lst .tab_item.active {
      background: #F8A136; }
      .tab_nav_lst .tab_item:hover a, .tab_nav_lst .tab_item.active a {
        color: white; }

.tab_content {
  background: white;
  width: 100%;
  position: relative; }

.tab_content_item {
  display: none; }
  .tab_content_item.active {
    display: block; }

.count_box {
  display: flex; }
  .count_box button {
    background: #E6E6E6;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: none;
    text-align: center; }
    .count_box button:focus {
      outline: none; }
    .count_box button:hover {
      background: #F8A136;
      color: white;
      cursor: pointer; }
  .count_box .count_box_input {
    width: 50px;
    font-size: 14px;
    text-align: center; }

.slick_custom {
  display: none; }
  .slick_custom.slick-initialized {
    display: block; }
  .slick_custom .slick-slider {
    margin: 0;
    padding: 0 0 30px; }
  .slick_custom .slick-dotted.slick-slider {
    margin: 0; }
  .slick_custom .slick-dots {
    bottom: 0;
    font-size: 0; }
    .slick_custom .slick-dots li {
      width: auto;
      height: auto; }
      .slick_custom .slick-dots li button {
        background: #E6E6E6;
        width: 10px;
        height: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .slick_custom .slick-dots li button::before {
          font-size: 0;
          height: 100%; }
        .slick_custom .slick-dots li button:hover {
          background: #F28C25; }
      .slick_custom .slick-dots li.slick-active button {
        width: 20px;
        background: #F28C25; }

.scroll_mobile_h {
  display: flex !important;
  /* [1] */
  flex-wrap: nowrap !important;
  /* [1] */
  overflow-x: auto !important;
  /* [1] */
  -webkit-overflow-scrolling: touch;
  /* [4] */
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* [5] */ }

#main.main_mobile {
  display: flex;
  flex-direction: column;
  height: 100%; }
  #main.main_mobile .main_container {
    padding-top: 8px; }

.page_main {
  padding: 0 0 75px;
  flex: 1; }

.main_content {
  margin-bottom: 30px; }

.block_container {
  background: white;
  padding: 8px;
  margin-bottom: 15px;
  margin-left: -8px;
  margin-right: -8px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.block_header {
  display: flex;
  align-items: center;
  padding: 4px 0;
  margin: 0 0 8px;
  position: relative; }
  .block_header.block_header_select {
    background: #F1F2F2;
    justify-content: space-between;
    padding: 0 8px;
    margin: -8px -8px 16px -8px; }
    .block_header.block_header_select .block_header_arrow {
      padding: 5px;
      font-size: 16px;
      min-width: 32px;
      text-align: center;
      position: relative; }
      .block_header.block_header_select .block_header_arrow.active .block_header_options {
        opacity: 1;
        visibility: visible;
        z-index: 1; }
    .block_header.block_header_select .block_header_options {
      position: absolute;
      white-space: nowrap;
      right: 0;
      background: white;
      text-align: left;
      font-size: 12px;
      top: inherit;
      padding: 8px;
      min-width: 200px;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease;
      -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }
    .block_header.block_header_select .block_header_option_item {
      display: block;
      padding: 8px 4px; }

.block_header_more {
  position: absolute;
  right: 0;
  top: 6px;
  font-size: 12px;
  color: #F8A136; }
  .block_header_more i {
    vertical-align: middle; }

.block_title {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  flex: 1; }

.block_product_common .block_header {
  flex-direction: column;
  align-items: flex-start; }

.block_product_common .block_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .block_product_common .block_title a {
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: #0377AE; }
    .block_product_common .block_title a:hover {
      color: #F8A136; }
    .block_product_common .block_title a i {
      margin-left: 5px;
      margin-top: 2px; }

.block_pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0; }
  .block_pagination span {
    background: #E6E6E6;
    display: inline-block;
    margin: 0 5px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .block_pagination span:hover {
      background: #F28C25; }
    .block_pagination span.active {
      background: #F28C25;
      width: 20px; }

.store_tab_list {
  margin: 0 0 16px;
  white-space: nowrap; }
  .store_tab_list div {
    margin: 0 4px 0 0; }
    .store_tab_list div a {
      background: white;
      border: solid 1px #F8A136;
      display: block;
      color: #F8A136;
      padding: 3px 5px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */ }
    .store_tab_list div.active a {
      background: #F8A136;
      color: white; }
  .store_tab_list .slick-slide {
    padding: 0 5px; }
  .store_tab_list .slick-prev::before,
  .store_tab_list .slick-next::before {
    color: #F8A136; }
  .store_tab_list .slick-prev {
    left: 0; }
  .store_tab_list .slick-next {
    right: 0; }

.store_items {
  margin: 0 -4px;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap; }

.store_item {
  flex: 0 0 33.33%;
  padding: 0 4px;
  margin-bottom: 8px;
  width: 33.33%; }
  @media (min-width: 768px) {
    .store_item {
      flex: 0 0 33.33%; } }

.store_item_inner {
  border: solid 1px #E6E6E6;
  padding: 4px;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .store_item_inner:hover {
    border-color: #F8A136; }

.store_name {
  font-weight: 500;
  font-size: 12px;
  margin: 0 0 10px; }

.store_des {
  margin: 0; }

.store_type {
  font-size: 12px;
  margin: 0 0 10px; }

.store_thumb {
  margin-bottom: 10px;
  display: block;
  text-align: center; }
  .store_thumb img {
    width: 100%; }

.category_grid img {
  width: 100%; }

.category_grid_row {
  margin: 0 -4px;
  display: flex;
  flex-wrap: wrap; }

.category_grid_col {
  flex: 0 0 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  @media (min-width: 768px) {
    .category_grid_col {
      flex: 0 0 33.33%; } }
  .category_grid_col.category_grid_col--2-item .category_grid_item {
    margin-bottom: 8px; }
    .category_grid_col.category_grid_col--2-item .category_grid_item:last-child {
      margin-bottom: 0; }

.category_grid_item {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 0; }
  .category_grid_item::before {
    padding-top: 84.78261%; }

.estimate_frm .estimate_label {
  font-weight: 500;
  display: block;
  cursor: pointer;
  margin: 0 0 5px; }

.estimate_frm .estimate_input_text {
  flex: 1;
  margin-right: 4px; }

.estimate_frm #estimate_length,
.estimate_frm #estimate_width,
.estimate_frm #estimate_height {
  width: 30%; }

.estimate_frm #estimate_insurrance {
  margin-right: 10px; }

.estimate_frm .estimate_btn {
  min-width: 160px; }

.estimate_frm .estimate_source {
  display: flex;
  flex-wrap: wrap; }
  .estimate_frm .estimate_source .option_style {
    margin: 0 8px 8px 0; }

.estimate_frm_row {
  margin-bottom: 15px; }

.supplier_category_row {
  margin: 0 -4px;
  display: flex;
  flex-wrap: wrap; }

.supplier_category_col {
  flex: 0 0 33.33%;
  padding: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 33.33%; }
  @media (min-width: 768px) {
    .supplier_category_col {
      flex: 0 0 25%; } }

.supplier_category_item {
  display: block;
  text-align: center;
  margin-bottom: 8px;
  width: 100%;
  padding: 4px; }
  .supplier_category_item:last-child {
    margin-bottom: 0; }

.supplier_category_thumb {
  width: 100%; }

.supplier_category_name {
  font-size: 12px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.languages {
  display: flex;
  align-items: center;
  font-size: 12px; }

.language_item {
  flex: 1;
  text-align: center;
  margin: 0 3px; }
  .language_item.selected a {
    border-color: #F8A136;
    color: #F8A136; }
  .language_item a {
    display: block;
    padding: 5px;
    border: solid 1px #E6E6E6;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .language_item img {
    width: 15px; }

#banner {
  margin-bottom: 15px;
  overflow: hidden; }
  #banner .slick-slider {
    padding: 0;
    margin: 0; }
  #banner .slick-dots {
    bottom: 15px; }

.banner_slide {
  display: none;
  overflow: hidden; }
  .banner_slide.slick-initialized {
    display: block; }

.banner_slide_item {
  text-align: center; }
  .banner_slide_item img {
    width: 100%; }

.process_order {
  text-align: center;
  margin: 0 0 15px; }

.process_order_title {
  margin: 0 0 15px;
  font-weight: 400; }

.process_order_des {
  margin: 0 0 15px; }

.process_order_row {
  display: flex; }

.process_order_col {
  flex: 0 0 50%;
  padding: 0 10px;
  text-align: center;
  font-size: 12px; }
  @media (min-width: 768px) {
    .process_order_col {
      flex: 0 0 33.33%;
      font-size: 14px; } }
  .process_order_col .button_secondary {
    padding: 5px; }

.process_order_thumb {
  margin: 0 0 15px;
  width: 70px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.process_order_name {
  margin: 0 0 10px;
  font-size: 12px; }

.process_order_content {
  margin: 0 0 10px; }

.process_order_estimate {
  background: white;
  padding: 8px;
  text-align: center; }
  .process_order_estimate h4 {
    margin: 0 0 16px; }

.product_list {
  font-size: 12px; }

.product_list_filter {
  background: #F9F9F9;
  text-align: center;
  display: flex;
  font-size: 14px;
  border-bottom: solid 1px #E6E6E6;
  margin: -8px -8px 8px -8px; }

.product_list_filter_item {
  padding: 10px;
  flex: 1; }

.product_row {
  margin: 0 -4px;
  display: flex;
  flex-wrap: wrap; }

.product_col {
  margin-bottom: 8px;
  width: 50%;
  flex: 0 0 50%;
  padding: 0 4px; }
  @media (min-width: 768px) {
    .product_col {
      width: 33.33%;
      flex: 0 0 33.33%; } }

.product_thumb {
  background: white;
  margin-bottom: 4px;
  font-size: 0;
  display: block; }
  .product_thumb img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.product_info_top {
  display: flex;
  border: solid 1px #E6E6E6;
  margin-bottom: 5px;
  align-items: center;
  padding: 5px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  .product_info_top .product_info_top--left,
  .product_info_top .product_info_top--right {
    height: 100%; }
  .product_info_top .product_info_top--left {
    border-right: solid 1px #E6E6E6;
    flex: 1; }
  .product_info_top .product_info_top--right {
    width: 30%; }
  .product_info_top span {
    justify-content: center;
    display: flex;
    align-items: center; }
    .product_info_top span.product_info_discount {
      color: #CE2B2C; }
    .product_info_top span.product_source_web {
      color: #F8A136; }
      .product_info_top span.product_source_web i {
        font-size: 14px; }
      .product_info_top span.product_source_web img {
        width: 12px;
        margin: 0 4px 0 0; }

.product_name {
  font-size: 12px;
  font-weight: inherit;
  margin: 0 0 5px;
  height: 32px;
  overflow: hidden; }

.product_info_row {
  margin: 0 0 5px; }
  .product_info_row .button_micro.product_button {
    padding: 5px; }

.product_price {
  color: #F8A136; }
  .product_price .product_price_vn {
    font-size: 10px; }

.product_stars {
  width: 50px;
  height: 10px; }
  .product_stars .product_stars_icon {
    background: url("../../../images/icon-star.svg") repeat-x 0 50%;
    display: block;
    height: 100%; }

.product_assess_icon {
  display: inline-block;
  margin-right: 3px;
  font-size: 12px; }
  .product_assess_icon:last-child {
    margin-right: 0; }
  .product_assess_icon i.fa-sun {
    color: #FCBC00; }
  .product_assess_icon i.fa-cloud {
    color: #999; }
  .product_assess_icon i.fa-umbrella {
    color: #4DA6FF; }

.product_gallery {
  margin-bottom: 8px; }

.gallery {
  position: relative; }

.gallery_action {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: right; }
  .gallery_action a.gallery_action_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: white;
    text-align: center;
    margin: 0 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    .gallery_action a.gallery_action_icon.share {
      background: rgb(red(#3B5998), 89, 152 );
      background: rgba(59, 89, 152, 0.7); }
    .gallery_action a.gallery_action_icon.heart {
      background: rgb(red(#ec1e3c), 30, 60 );
      background: rgba(236, 30, 60, 0.7); }
  .gallery_action .gallery_action_countdown {
    background: rgba(255, 255, 255, 0.7);
    padding: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }

.gallery_full {
  display: none;
  max-height: 360px; }
  .gallery_full.slick-initialized {
    display: block; }

.gallery_full_thumb {
  background: #F9F9F9;
  display: block;
  width: 100%;
  height: 360px;
  overflow: hidden;
  position: relative; }
  .gallery_full_thumb img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.popup_container {
  background: white;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 111;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }
  .popup_container.open {
    opacity: 1;
    visibility: visible; }

.popup_block {
  padding: 8px 0; }

.popup_block_title {
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 8px; }

.popup_result_lst {
  font-size: 12px; }

.popup_result_item a {
  display: block;
  padding: 4px 0; }

.popup_choice_site a {
  padding: 5px 10px;
  margin: 0 5px 5px 0; }
  .popup_choice_site a img {
    width: 16px;
    vertical-align: middle;
    margin: 0 5px 0 0; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  outline: none; }

textarea {
  width: 100%; }

input[type="checkbox"] {
  margin-right: 5px;
  vertical-align: middle; }

.input_common {
  background: white;
  font-weight: 500;
  border: solid 1px #999;
  outline: none;
  padding: 5px 10px;
  box-shadow: none;
  color: #808080; }

.option_style {
  font-size: 0;
  margin: 0 8px 0 0;
  display: inline-block; }
  .option_style .option_style_label {
    background: white;
    color: #808080;
    display: block;
    text-align: center;
    outline: none;
    padding: 5px 15px;
    overflow: hidden;
    border: solid 1px #808080;
    cursor: pointer;
    font-size: 12px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .option_style:last-child {
    margin: 0; }
  .option_style .option_style_input {
    opacity: 0;
    visibility: hidden;
    display: none; }
  .option_style .option_style_input:checked + .option_style_label {
    border-color: #F8A136;
    color: #F8A136; }
  .option_style .option_style_input:focus + .option_style_label {
    border-color: #F8A136;
    color: #F8A136; }
  .option_style .option_style_input:active + .option_style_label {
    border-color: #F8A136;
    color: #F8A136; }

.select_wrap {
  border: solid 1px #999;
  position: relative;
  overflow: hidden;
  height: 30px;
  color: #808080;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  .select_wrap::after {
    content: '';
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -3px;
    border-style: solid;
    height: 0;
    width: 0;
    border-color: #999 transparent transparent transparent;
    border-width: 6px 5px 0 5px; }
  .select_wrap:hover {
    border-color: #F8A136; }
    .select_wrap:hover::after {
      border-top-color: #F8A136; }
  .select_wrap select.select_common {
    background: white;
    display: block;
    border: none;
    padding: 0 25px 0 10px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    color: #808080;
    -webkit-appearance: none;
    /*Removes default chrome and safari style*/
    -moz-appearance: none;
    /*Removes default style Firefox*/
    appearance: none; }
    .select_wrap select.select_common:focus {
      cursor: pointer;
      outline: none; }
  .select_wrap.tiny {
    height: 26px;
    font-size: 12px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .select_wrap.small {
    height: 30px;
    font-size: 14px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .select_wrap.medium {
    height: 34px;
    font-size: 16px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .select_wrap.large {
    height: 40px;
    font-size: 16px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }

.fieldset_common {
  border: none;
  margin: 0;
  padding: 0; }

.input_common {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  .input_common:focus {
    box-shadow: none;
    border-color: #F8A136; }
  .input_common.input_common--tiny {
    font-size: 12px;
    min-height: 26px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .input_common.input_common--small {
    font-size: 14px;
    min-height: 30px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .input_common.input_common--medium {
    font-size: 16px;
    min-height: 34px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .input_common.input_common--large {
    font-size: 16px;
    min-height: 40px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .input_common.input_common--full {
    display: block;
    width: 100%; }

.input_wrap {
  display: flex; }
  .input_wrap--row {
    flex-direction: row;
    align-items: center; }
    .input_wrap--row label {
      margin: 0 15px 0 0; }
  .input_wrap--column {
    flex-direction: column; }
  .input_wrap .input_search {
    position: relative; }
    .input_wrap .input_search::after {
      content: "\f002";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      position: absolute;
      right: 10px;
      top: 50%;
      font-size: inherit;
      color: inherit;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      transform: translate(0, -50%); }
    .input_wrap .input_search .input_common {
      padding-right: 30px; }

.button_primary {
  background: #F8A136;
  color: white;
  display: inline-block;
  text-align: center;
  outline: none;
  padding: 5px 10px;
  overflow: hidden;
  border: solid 1px #F8A136;
  cursor: pointer;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .button_primary img {
    margin-right: 5px;
    vertical-align: middle;
    width: inherit; }
  .button_primary i {
    vertical-align: middle; }
    .button_primary i:first-child {
      margin: 0 5px; }
    .button_primary i:only-child {
      margin: 0; }
  .button_primary.button_micro {
    font-size: 12px;
    min-height: 24px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .button_primary.button_tiny {
    font-size: 14px;
    min-height: 28px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .button_primary.button_small {
    font-size: 16px;
    min-height: 32px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .button_primary.button_regular {
    font-size: 16px;
    min-height: 36px;
    line-height: 28px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .button_primary.button_large {
    font-size: 16px;
    min-height: 40px;
    line-height: 28px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .button_primary.button_full {
    display: block;
    width: 100%; }
  .button_primary.disabled, .button_primary:disabled {
    background: #E6E6E6 !important;
    color: #808080 !important;
    border-color: #E6E6E6 !important;
    cursor: auto; }
  .button_primary:hover {
    background: #F28C25;
    color: white; }
  .button_primary:focus, .button_primary.active, .button_primary:active {
    background: #E2751B;
    color: white; }

.button_heart {
  display: inline-block;
  text-align: center;
  outline: none;
  padding: 5px 10px;
  overflow: hidden;
  border: solid 1px #F8A136;
  cursor: pointer;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: white;
  color: #ec1e3c;
  border-color: #ec1e3c; }
  .button_heart img {
    margin-right: 5px;
    vertical-align: middle;
    width: inherit; }
  .button_heart i {
    vertical-align: middle; }
    .button_heart i:first-child {
      margin: 0 5px; }
    .button_heart i:only-child {
      margin: 0; }
  .button_heart.button_micro {
    font-size: 12px;
    min-height: 24px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .button_heart.button_tiny {
    font-size: 14px;
    min-height: 28px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .button_heart.button_small {
    font-size: 16px;
    min-height: 32px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .button_heart.button_regular {
    font-size: 16px;
    min-height: 36px;
    line-height: 28px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .button_heart.button_large {
    font-size: 16px;
    min-height: 40px;
    line-height: 28px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .button_heart.button_full {
    display: block;
    width: 100%; }
  .button_heart.disabled, .button_heart:disabled {
    background: #E6E6E6 !important;
    color: #808080 !important;
    border-color: #E6E6E6 !important;
    cursor: auto; }
  .button_heart:hover {
    background: #F28C25;
    color: white; }
  .button_heart:focus, .button_heart.active, .button_heart:active {
    background: #E2751B;
    color: white; }
  .button_heart:hover {
    background: #ec1e3c;
    border-color: #ec1e3c;
    color: white; }

.button_facebook_share {
  display: inline-block;
  text-align: center;
  outline: none;
  padding: 5px 10px;
  overflow: hidden;
  border: solid 1px #F8A136;
  cursor: pointer;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: white;
  color: #3B5998;
  border-color: #3B5998; }
  .button_facebook_share img {
    margin-right: 5px;
    vertical-align: middle;
    width: inherit; }
  .button_facebook_share i {
    vertical-align: middle; }
    .button_facebook_share i:first-child {
      margin: 0 5px; }
    .button_facebook_share i:only-child {
      margin: 0; }
  .button_facebook_share.button_micro {
    font-size: 12px;
    min-height: 24px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .button_facebook_share.button_tiny {
    font-size: 14px;
    min-height: 28px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .button_facebook_share.button_small {
    font-size: 16px;
    min-height: 32px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .button_facebook_share.button_regular {
    font-size: 16px;
    min-height: 36px;
    line-height: 28px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .button_facebook_share.button_large {
    font-size: 16px;
    min-height: 40px;
    line-height: 28px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .button_facebook_share.button_full {
    display: block;
    width: 100%; }
  .button_facebook_share.disabled, .button_facebook_share:disabled {
    background: #E6E6E6 !important;
    color: #808080 !important;
    border-color: #E6E6E6 !important;
    cursor: auto; }
  .button_facebook_share:hover {
    background: #F28C25;
    color: white; }
  .button_facebook_share:focus, .button_facebook_share.active, .button_facebook_share:active {
    background: #E2751B;
    color: white; }
  .button_facebook_share:hover {
    background: #3B5998;
    border-color: #3B5998;
    color: white; }

.button_secondary {
  display: inline-block;
  text-align: center;
  outline: none;
  padding: 5px 10px;
  overflow: hidden;
  border: solid 1px #F8A136;
  cursor: pointer;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: white;
  color: #F8A136; }
  .button_secondary img {
    margin-right: 5px;
    vertical-align: middle;
    width: inherit; }
  .button_secondary i {
    vertical-align: middle; }
    .button_secondary i:first-child {
      margin: 0 5px; }
    .button_secondary i:only-child {
      margin: 0; }
  .button_secondary.button_micro {
    font-size: 12px;
    min-height: 24px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .button_secondary.button_tiny {
    font-size: 14px;
    min-height: 28px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .button_secondary.button_small {
    font-size: 16px;
    min-height: 32px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .button_secondary.button_regular {
    font-size: 16px;
    min-height: 36px;
    line-height: 28px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .button_secondary.button_large {
    font-size: 16px;
    min-height: 40px;
    line-height: 28px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .button_secondary.button_full {
    display: block;
    width: 100%; }
  .button_secondary.disabled, .button_secondary:disabled {
    background: #E6E6E6 !important;
    color: #808080 !important;
    border-color: #E6E6E6 !important;
    cursor: auto; }
  .button_secondary:hover {
    background: #F28C25;
    color: white; }
  .button_secondary:focus, .button_secondary.active, .button_secondary:active {
    background: #E2751B;
    color: white; }

.button_secondary_gray {
  display: inline-block;
  text-align: center;
  outline: none;
  padding: 5px 10px;
  overflow: hidden;
  border: solid 1px #F8A136;
  cursor: pointer;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: white;
  color: #808080;
  border-color: #808080; }
  .button_secondary_gray img {
    margin-right: 5px;
    vertical-align: middle;
    width: inherit; }
  .button_secondary_gray i {
    vertical-align: middle; }
    .button_secondary_gray i:first-child {
      margin: 0 5px; }
    .button_secondary_gray i:only-child {
      margin: 0; }
  .button_secondary_gray.button_micro {
    font-size: 12px;
    min-height: 24px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .button_secondary_gray.button_tiny {
    font-size: 14px;
    min-height: 28px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .button_secondary_gray.button_small {
    font-size: 16px;
    min-height: 32px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .button_secondary_gray.button_regular {
    font-size: 16px;
    min-height: 36px;
    line-height: 28px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .button_secondary_gray.button_large {
    font-size: 16px;
    min-height: 40px;
    line-height: 28px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .button_secondary_gray.button_full {
    display: block;
    width: 100%; }
  .button_secondary_gray.disabled, .button_secondary_gray:disabled {
    background: #E6E6E6 !important;
    color: #808080 !important;
    border-color: #E6E6E6 !important;
    cursor: auto; }
  .button_secondary_gray:hover {
    background: #F28C25;
    color: white; }
  .button_secondary_gray:focus, .button_secondary_gray.active, .button_secondary_gray:active {
    background: #E2751B;
    color: white; }
  .button_secondary_gray:hover {
    background: white;
    border-color: #F28C25;
    color: #F28C25; }

.text_heading_1 {
  font-size: 36px;
  margin: 0 0 15px; }

.text_heading_2 {
  font-size: 32px;
  margin: 0 0 15px; }

.text_heading_3 {
  font-size: 28px;
  margin: 0 0 15px; }

.text_heading_4 {
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 15px; }

.text_heading_5 {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 15px; }

.text_heading_6 {
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 15px; }

.table_common {
  width: 100%;
  border-spacing: 0; }
  .table_common tbody td {
    padding: 4px; }
  .table_common.table_striped tr:nth-of-type(odd) {
    background: #F9F9F9; }

.blocker {
  z-index: 9999 !important; }

.modal_primary {
  background: white;
  padding: 0;
  width: 98%;
  vertical-align: top; }
  .modal_primary .modal_header {
    background: #F8A136;
    min-height: 40px;
    padding: 8px;
    text-align: center;
    color: white;
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .modal_primary .modal_title {
    margin: 0;
    font-weight: 400; }
  .modal_primary .modal_body {
    padding: 8px; }
  .modal_primary .modal_footer {
    padding: 8px; }

.modal_group_button {
  display: flex;
  margin: 0 -2px; }
  .modal_group_button a, .modal_group_button button {
    flex: 1;
    margin: 0 2px; }

.modal_set_price #set_price_input {
  width: 80px; }

#modal_after_set_price.modal_set_price_success .set_price_result {
  color: #7EC362; }

#modal_after_set_price.modal_set_price_error .set_price_result {
  color: #CE2B2C; }

#modal_after_set_price .set_price_result {
  text-align: center; }

#modal_after_set_price .set_price_icon i {
  font-size: 40px; }

.shop_same_sale_item {
  padding: 8px 0;
  border-bottom: solid 1px #F1F2F2; }

.shop_same_sale_name {
  color: #F8A136;
  font-size: 14px; }

.modal_sort_options {
  display: flex;
  flex-wrap: wrap; }
  .modal_sort_options .option_style {
    margin: 0 8px 8px 0; }

.tracking_order {
  padding: 8px; }

.tracking_form_row {
  margin-bottom: 15px; }

.tracking_label {
  margin: 0 0 5px; }

.tracking_input {
  background: transparent;
  display: block;
  width: 100%; }

.history_auction_item {
  padding: 5px; }
  .history_auction_item:nth-child(odd) {
    background: #F9F9F9; }

.complain_images {
  display: flex;
  flex-wrap: wrap; }

.complain_image_item {
  margin: 0 4px 4px 0;
  width: 60px;
  height: 60px;
  overflow: hidden;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  .complain_image_item img {
    width: 100%;
    object-fit: contain;
    height: 100%; }

.complain_add_image {
  background: white;
  border: solid 1px #F1F2F2;
  margin: 0 4px 4px 0;
  width: 60px;
  height: 60px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

#header {
  background: #F8A136;
  color: white;
  padding: 10px 0;
  position: relative;
  z-index: 1;
  min-height: 55px; }

.header_container {
  display: flex;
  align-items: center; }

.header_col--left {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.header_col--center {
  flex: 1;
  padding: 0 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.header_col--right {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.header_search {
  background: white;
  display: flex;
  align-items: center;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.header_search_input {
  width: 100%;
  border: none; }

.header_search_icon {
  color: #F8A136;
  padding: 5px 8px; }

.header_button_icon {
  display: block;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  min-width: 32px; }
  .header_button_icon:hover {
    color: white; }

.header_title {
  font-size: 16px;
  font-weight: 400;
  margin: 0; }

.header_select {
  position: relative; }
  .header_select.open .header_options {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0); }

.header_options {
  padding-top: 10px;
  position: absolute;
  top: 35px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  min-width: 200px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translate(0, -15px);
  -moz-transform: translate(0, -15px);
  transform: translate(0, -15px); }
  .header_options::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 5px;
    border-style: solid;
    height: 0;
    width: 0;
    border-color: transparent transparent white transparent;
    border-width: 0 10px 10px 10px; }

.header_options_inner {
  background: white;
  text-align: left;
  font-size: 14px;
  padding: 8px;
  max-height: 300px;
  overflow: auto;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }

.header_option_item {
  display: block;
  padding: 10px 5px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .header_option_item i {
    margin: 0 5px 0 0;
    vertical-align: middle; }

#footer {
  background: white;
  padding: 30px 0 0; }

.footer_info {
  display: flex;
  margin: 0 0 5px; }
  .footer_info strong {
    min-width: 80px; }
    .footer_info strong .fa-headset {
      margin: 0 5px 0 0; }
    .footer_info strong .fa-map-marker-alt {
      margin: 0 8px 0 0; }
  .footer_info a {
    color: #333; }
  .footer_info p {
    margin: 0; }

.footer_logo {
  margin: 0 0 15px; }
  .footer_logo a {
    display: block;
    font-size: 0; }
  .footer_logo img {
    width: 200px; }

.footer_col_name {
  font-weight: 700;
  font-size: 16px;
  margin: 0 0 15px; }

.footer_body {
  margin: 0 0 20px; }

.footer_menu_item {
  background: url("../images/menu-footer-dots.svg") no-repeat 0 50%;
  padding: 0 0 0 15px;
  margin: 5px 0; }
  .footer_menu_item a {
    color: #333;
    display: inline-block; }
    .footer_menu_item a:hover {
      color: #F8A136; }

.fanpage {
  margin: 0 0 15px; }

.footer_app_btn {
  display: flex;
  justify-content: space-between; }
  .footer_app_btn a:hover {
    opacity: 0.7; }

#nav_main {
  background: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: solid 1px #E6E6E6; }

.nav_main_lst {
  display: flex; }

.nav_main_item {
  width: 25%;
  min-height: 64px; }

.nav_main_url {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  height: 100%; }
  .nav_main_url i {
    margin: 0 0 5px;
    font-size: 16px; }
  .nav_main_url span {
    font-size: 12px; }
    @media (min-width: 768px) {
      .nav_main_url span {
        font-size: 14px; } }

#logo {
  margin: 0; }
  #logo a {
    display: block;
    font-size: 0; }
  #logo strong {
    position: absolute;
    text-indent: -9999em; }
  #logo img {
    width: 150px; }

.menu_mobile {
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 100%;
  width: 280px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .menu_mobile.menu_mobile_left {
    left: 0;
    padding: 0 30px 0 0;
    -webkit-transform: translate(-280px, 0);
    -moz-transform: translate(-280px, 0);
    transform: translate(-280px, 0); }
    .menu_mobile.menu_mobile_left .menu_mobile_close {
      right: 0; }
  .menu_mobile.menu_mobile_right {
    right: 0;
    padding: 0 0 0 30px;
    -webkit-transform: translate(280px, 0);
    -moz-transform: translate(280px, 0);
    transform: translate(280px, 0); }
    .menu_mobile.menu_mobile_right .menu_mobile_close {
      left: 0; }
  .menu_mobile.open {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible; }

.menu_mobile_inner {
  background: white;
  height: 100%;
  width: 100%;
  overflow-y: auto; }

.menu_mobile_header {
  background: #F8A136;
  margin: 0;
  height: 55px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  color: white; }

.menu_mobile_title {
  font-size: 16px;
  margin: 0;
  font-weight: 400;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.menu_mobile_back {
  padding: 5px;
  vertical-align: middle; }

.menu_mobile_lst {
  background: #F9F9F9;
  margin: 0 0 15px; }

.menu_mobile_item {
  position: relative; }

.menu_mobile_url {
  display: block;
  border-bottom: solid 1px #E6E6E6;
  padding: 8px 55px 8px 8px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .menu_mobile_url .badge {
    background: #CE2B2C;
    color: white;
    font-size: 12px;
    min-width: 28px;
    text-align: center;
    position: absolute;
    right: 24px;
    top: 10px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }

.menu_mobile_icon {
  margin: 0 10px 0 0;
  min-width: 20px;
  text-align: center;
  color: #F8A136; }

.menu_mobile_arr {
  padding: 5px 10px;
  position: absolute;
  right: 0;
  top: 3px; }

.menu_mobile_footer {
  padding: 0 8px; }

.menu_mobile_support a {
  margin-bottom: 8px; }

.menu_mobile_user {
  display: flex;
  align-items: center;
  color: white; }

.menu_mobile_user_avarta {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 10px 0 0;
  overflow: hidden;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.menu_mobile_user_name {
  margin: 0 0 5px;
  font-weight: 400; }

.menu_mobile_sub {
  position: fixed;
  top: 0;
  background: white;
  min-height: 100%;
  width: 250px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translate(-280px, 0);
  -moz-transform: translate(-280px, 0);
  transform: translate(-280px, 0); }
  .menu_mobile_sub.open {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0); }

.menu_mobile_close {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: white;
  text-align: center;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.bg_overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .bg_overlay.open {
    opacity: 1;
    visibility: visible; }

.box_posts_top {
  display: flex;
  align-items: center;
  padding: 0 0 4px;
  margin: 0 0 4px; }

.box_posts_container {
  margin: 0 0 16px; }

.box_posts_title {
  margin: 0 0 8px;
  font-weight: 500;
  font-size: 16px; }

.box_posts_list {
  flex: 1; }
  .box_posts_list.box_posts_customer_care a {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    padding: 0 0 0 20px; }
    .box_posts_list.box_posts_customer_care a::before {
      content: '';
      background: #F8A136;
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      left: 0;
      top: 50%;
      margin: -5px 0 0;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */ }

.box_posts_thumb {
  display: block;
  width: 100px;
  height: 80px;
  margin: 0 8px 0 0; }
  .box_posts_thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.box_posts_row {
  display: flex;
  margin: 0 0 8px; }
  .box_posts_row:last-child {
    margin: 0; }

.box_posts_content {
  flex: 1; }

.box_posts_des {
  margin: 0 0 5px;
  font-weight: 400;
  height: 57px;
  overflow: hidden; }

.box_posts_date {
  font-size: 12px; }

.posts_container {
  margin-bottom: 50px; }

.posts_header {
  margin-bottom: 15px; }

.posts_title {
  font-size: 16px;
  margin: 0 0 8px; }

.posts_header_meta {
  display: flex;
  margin: 0 0 8px;
  font-size: 12px; }
  .posts_header_meta i {
    margin: 0 5px 0 0; }

.posts_publised_date {
  margin: 0 15px 0 0; }

.posts_body {
  margin-bottom: 30px; }

.posts_summary {
  background: #F9F9F9;
  border: solid 1px #999;
  padding: 10px;
  float: left;
  margin: 0 0 8px;
  width: 100%;
  min-width: 290px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  @media (min-width: 576px) {
    .posts_summary {
      width: auto;
      margin: 0 15px 15px 0; } }
  .posts_summary h5 {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 8px; }
  .posts_summary ul {
    padding-left: 15px;
    font-size: 14px; }
    .posts_summary ul li {
      padding: 2px 0; }

@media (min-width: 768px) {
  .posts_share {
    text-align: right; } }

.posts_share strong {
  display: inline-block;
  margin-bottom: 5px; }

.posts_share_icon a {
  font-size: 0;
  display: inline-block;
  margin: 0 5px 0 0; }
  .posts_share_icon a img {
    width: 30px; }

.posts_author {
  text-align: right;
  margin-bottom: 8px; }
  @media (min-width: 768px) {
    .posts_author {
      margin: 0;
      text-align: left; } }

#page_lisu {
  background: white; }

.lisu_container {
  padding: 24px 32px; }

.lisu_header {
  text-align: center;
  margin-bottom: 32px; }

.lisu_logo {
  margin: 0; }

.lisu_body {
  margin-bottom: 16px; }

.lisu_frm {
  display: block;
  width: 100%; }

.lisu_frm_row {
  margin-bottom: 16px; }

.lisu_input {
  width: 100%; }

.lisu_other {
  text-align: center; }

.lisu_other_title {
  position: relative;
  margin: 0 0 16px; }
  .lisu_other_title span {
    background: white;
    display: inline-block;
    padding: 4px 8px;
    z-index: 1;
    position: relative; }
  .lisu_other_title::before {
    content: '';
    display: block;
    border-top: solid 1px #999;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0; }

.lisu_other_btns {
  display: flex;
  justify-content: center;
  padding: 0 16px; }
  .lisu_other_btns a {
    display: inline-block;
    width: 64px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin: 0 8px;
    color: white;
    font-size: 18px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    .lisu_other_btns a.facebook {
      background: #3B5998; }
    .lisu_other_btns a.google {
      background: #AF282A; }
    .lisu_other_btns a.mobile {
      background: #7EC362; }

#page_supplier_product {
  background: white; }

.product_main_tab .product_tab_lst {
  background: #F1F2F2;
  margin: -8px -8px 0 -8px;
  border-bottom: solid 1px #E6E6E6;
  font-weight: 400; }

.product_main_tab .product_tab_item {
  text-align: center;
  padding: 10px;
  border-bottom: solid 2px transparent;
  flex: 0 0 30%; }
  .product_main_tab .product_tab_item.active {
    background: transparent;
    color: #F8A136;
    border-bottom-color: #F8A136; }

.product_main_tab .product_tab_content {
  padding: 0 8px 8px 8px;
  margin: 0 -8px;
  width: auto; }

.product_detail_row {
  margin-bottom: 8px; }

.product_detail_header {
  margin: 0 0 8px; }

.product_seller {
  padding: 8px 0; }

.product_seller_title {
  margin: 0 0 8px;
  color: #F8A136;
  font-size: 16px; }

.product_seller_body {
  font-size: 12px; }
  .product_seller_body h5 {
    font-size: 14px;
    color: #F8A136;
    font-weight: normal; }

.product_seller_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 320px;
  margin: 0 auto; }
  .product_seller_btns a {
    width: 45%;
    margin: 0 4px; }
    .product_seller_btns a.button_like {
      border-color: #ec1e3c;
      color: #ec1e3c; }
      .product_seller_btns a.button_like:hover {
        background: #ec1e3c;
        color: white; }

.product_detail_name {
  color: #F8A136;
  font-weight: 500;
  line-height: 1.4;
  margin: 0 0 8px;
  font-size: 14px; }

.product_detail_des {
  padding: 8px 0; }

.product_detail_review {
  padding: 8px 0; }

.product_detail_overview {
  padding: 8px 0;
  font-size: 12px; }
  .product_detail_overview table {
    width: 100%;
    border-collapse: collapse; }
    .product_detail_overview table td {
      padding: 5px;
      border: solid 1px #F9F9F9; }
      .product_detail_overview table td:first-child {
        background: #F9F9F9; }

.product_detail_qa {
  padding: 8px 0; }
  .product_detail_qa .qa_list {
    font-size: 12px; }
  .product_detail_qa .qa_item {
    position: relative;
    margin-bottom: 15px;
    padding: 0 0 0 50px;
    min-height: 60px; }
  .product_detail_qa .qa_item_row {
    display: flex;
    margin: 0 0 5px; }
    .product_detail_qa .qa_item_row strong {
      display: inline-block;
      margin: 0 5px 0 0; }
    .product_detail_qa .qa_item_row p {
      margin: 0; }
  .product_detail_qa .qa_vote {
    background: #E6E6E6;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .product_detail_qa .qa_item_author {
    color: #808285; }
  .product_detail_qa .qa_item_more {
    text-align: center; }

.product_auction_price_col {
  background: #F9F9F9;
  padding: 8px;
  height: 100%;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.product_auction_box_gray {
  background: #F9F9F9;
  padding: 8px;
  height: 100%;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.prodct_source_meta {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: dashed 1px #999; }

.product_source_ribbon {
  background: #F28C25;
  color: white;
  display: inline-block;
  position: relative;
  padding: 3px 15px 3px 5px;
  text-align: center;
  margin: 0 15px 0 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  .product_source_ribbon::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    border-style: solid;
    height: 0;
    width: 0;
    border-color: transparent white transparent transparent;
    border-width: 12.5px 10px 12.5px 0; }

.product_source_price {
  margin-bottom: 16px; }
  .product_source_price .source_price_col table {
    background: #F9F9F9;
    width: 100%;
    padding: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    .product_source_price .source_price_col table td {
      border: none;
      vertical-align: top; }
  .product_source_price .source_price_buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .product_source_price .source_price_buttons a {
      width: 48%;
      padding: 5px;
      margin: 0 2px 8px 2px; }

.product_source_estimate_time {
  padding: 0 0 0 45px;
  font-size: 12px;
  position: relative;
  margin: 10px 0; }
  .product_source_estimate_time i {
    background: #F8A136;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }

.product_source_attribute .source_attribute_item {
  display: flex;
  align-items: center;
  margin-bottom: 8px; }
  .product_source_attribute .source_attribute_item label {
    margin: 0 8px 0 0; }

.product_source_attribute .source_attribute_color {
  display: flex;
  width: 100%; }
  .product_source_attribute .source_attribute_color a {
    display: block;
    margin: 0 10px 0 0;
    overflow: hidden;
    border: solid 1px #999;
    height: 70px;
    flex: 0 0 70px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    .product_source_attribute .source_attribute_color a:hover {
      border-color: #F8A136; }
  .product_source_attribute .source_attribute_color img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.product_source_grp_btn {
  background: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 2px;
  justify-content: center; }
  .product_source_grp_btn a.button_large {
    flex: 1;
    font-size: 14px;
    margin: 0 2px;
    padding: 5px;
    line-height: inherit; }

.product_auction_tbl_info {
  width: 100%;
  margin: 15px 0 0; }
  .product_auction_tbl_info table {
    width: 100%; }
    .product_auction_tbl_info table td {
      padding: 5px;
      font-size: 12px; }
      .product_auction_tbl_info table td:first-child {
        background: #F9F9F9; }

.review_attribute {
  display: flex;
  align-items: center;
  padding: 5px 0;
  border-bottom: solid 1px #999;
  margin-bottom: 15px; }

.review_attribute_item {
  margin: 0 15px 0 0;
  cursor: pointer; }
  .review_attribute_item input {
    margin-right: 5px; }
  .review_attribute_item label {
    margin: 0; }

.review_item {
  margin: 0 0 15px;
  font-size: 12px; }

.review_item_name {
  background: white;
  font-weight: 500;
  font-size: 14px;
  margin: 0 0 5px; }

.reiview_item_content {
  margin: 0 0 5px;
  color: #0377AE; }

.source_stars {
  display: inline-block;
  width: 75px;
  margin: 0 15px 0 0; }
  .source_stars span {
    background: url(../../images/icon-star.svg) repeat-x 0 50%;
    background-size: 15px;
    display: block;
    height: 15px; }

#page_filter {
  background: white; }

.filter_item {
  margin-bottom: 8px; }
  .filter_item.close .filter_body {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    padding: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.filter_header {
  background: #F1F2F2;
  padding: 8px;
  position: relative; }

.filter_arrow {
  padding: 8px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%; }

.filter_title {
  font-weight: 400;
  margin: 0;
  font-size: 16px; }

.filter_body {
  opacity: 1;
  visibility: visible;
  height: auto;
  padding: 8px; }

.filter_label {
  margin-bottom: 8px;
  display: inline-block; }

.filter_input_text {
  width: 100%; }

.filter_price_converted {
  font-size: 12px; }

.filter_unit {
  padding: 5px 0;
  display: inline-block; }

.page_profile#page_profile_order_detail {
  padding-bottom: 100px; }

.profile_main_tab {
  font-size: 14px; }
  .profile_main_tab .profile_tab_lst {
    background: #F1F2F2;
    margin: 0 -8px 16px -8px;
    border-bottom: solid 1px #E6E6E6; }
  .profile_main_tab .profile_tab_item {
    padding: 10px 8px;
    border-bottom: solid 2px transparent;
    flex: 0 0 auto;
    width: 33.33%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center; }
    .profile_main_tab .profile_tab_item img {
      margin: 0 5px 0 0; }
    .profile_main_tab .profile_tab_item.active {
      background: transparent;
      color: #F8A136;
      border-bottom-color: #F8A136; }

/*
.profile_function_lst {
  @extend %reset-lst;
  & > li {margin-bottom: 5px;
    & > a {display: block;background: $color-bg;font-size: $font-size-m;padding: 9px 10px;font-weight: $font-medium;
      @include border-radius(8px);
      i {margin: 0 5px 0 0}
    }
  }
}
.profile_function_sub_lst {
  @extend %reset-lst;
  padding: 0 0 0 30px;
  li {font-size: $font-size-s;padding: 3px 0}
}

//
.profile_actions {}
.action_box {background: white;display: flex;overflow: hidden;
  @include border-radius(8px);
  @include box-shadow(-2px,2px,0px,rgba(0,0,0, 0.2));
}
.action_box_icon {background: $color-orange;color: white;display: flex;align-items: center;justify-content: center;width: 80px;height: 80px;font-size: 30px}
.action_box_content {min-height: 80px;display: flex;justify-content: center;flex: 1;flex-direction: column;padding: 0 5px 0 15px;
  span.color_orange {font-size: 24px;font-weight: $font-medium}
}

//



//Profile product auction
.profile_auction_container {padding: 0 0 30px}
.profile_auction_header {}
.profile_auction_title {font-size: $font-size-m;margin: 0 0 16px;padding: 0 0 5px;border-bottom: solid 1px $color-gray}
.profile_auction_body {}
.profile_auction_row {padding: 0 0 15px 135px;position: relative;margin: 0 0 15px;border-bottom: solid 1px $color-gray;
  &:last-child {border: none}
}
.profile_auction_thumb {display: block;width: 120px;height: 120px;position: absolute;left: 0;top: 0;
  img {width: 100%;height: 100%;object-fit: cover}
}
.profile_auction_info {}
.profile_auction_name {font-weight: normal;font-size: $font-size-m;margin: 0 0 5px;
  a {
    &:hover {color: $color-orange}
  }
}
.profile_auction_meta {display: flex;font-size: $font-size-xs;margin-bottom: 5px;
  span {margin: 0 15px 0 0}
}
.profile_auction_boxes {display: flex;overflow: hidden;font-size: $font-size-xs;}
.profile_auction_box {background: $color-bg-third;display: flex;align-items: center;justify-content: center;flex-direction: column;flex: 1;padding: 10px 15px;margin: 0 20px 0 0;min-width: 135px;
  @include border-radius(8px);
  &:last-child {margin: 0}
}
.profile_auction_box_title {margin: 0 0 5px}
#profile_auction_tab {
  .tab_nav_lst .tab_item a {padding: 8px 30px}
  .tab_content_item {padding: 15px}
}

*/
.profile_setting_form {
  background: white;
  padding: 8px;
  margin-bottom: 36px; }
  .profile_setting_form .fieldset_common {
    display: flex;
    margin: 0 0 16px; }
  .profile_setting_form .input_common {
    width: 100%; }

.profile_setting_form_row {
  width: 100%; }

.profile_setting_subcribe_mail {
  display: flex;
  padding: 10px 0; }
  .profile_setting_subcribe_mail input {
    margin: 15px 15px 0 0; }

.profile_address_lst {
  padding: 0 8px; }

.profile_address_title {
  font-size: 16px;
  margin: 0 0 16px; }

.profile_address_item {
  background: white;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.profile_address_info {
  padding: 8px;
  margin-bottom: 16px; }
  .profile_address_info .button_secondary,
  .profile_address_info .button_secondary_gray {
    margin: 0 2px 0 0; }
    .profile_address_info .button_secondary:last-child,
    .profile_address_info .button_secondary_gray:last-child {
      margin: 0; }

.profile_address_detail {
  margin: 0 0 8px;
  line-height: 18px; }

.profile_address_more {
  background: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: dashed 1px #999;
  color: #F8A136;
  font-size: 16px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .profile_address_more i {
    margin: 0 10px 0 0; }
  .profile_address_more:hover {
    background: #E6E6E6; }

.profile_change_password .button_save_password,
.profile_change_password .button_cancel_password {
  margin: 0 5px;
  min-width: 100px; }

.profile_change_password .profile_setting_form {
  padding: 8px; }

.profile_coupons_lst {
  padding: 8px 0; }

.profile_coupon {
  overflow: hidden;
  margin: 0 0 16px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-box-shadow: -2px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 2px 0px rgba(0, 0, 0, 0.2); }

.profile_coupon_content {
  background: white;
  padding: 8px 4px; }

.profile_coupon_thumb {
  display: block;
  max-height: 135px;
  overflow: hidden;
  font-size: 0; }
  .profile_coupon_thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.profile_coupon_name {
  margin: 0 0 5px; }

.profile_favorite_col {
  margin-bottom: 15px; }

.profile_favorite_item {
  background: white;
  height: 100%;
  font-size: 12px;
  padding: 15px;
  position: relative;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.profile_favorite_header {
  display: flex;
  padding: 0 0 15px;
  margin-bottom: 15px;
  border-bottom: dashed 1px #E6E6E6; }

.profile_favorite_name {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.profile_favorite_thumb {
  width: 56px;
  height: 56px;
  display: block;
  margin: 0 15px 0 0;
  overflow: hidden; }
  .profile_favorite_thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.profile_favorite_info {
  flex: 1;
  padding-right: 45px; }

.profile_favorite_footer p {
  margin: 0; }

.profile_favorite_remove {
  position: absolute;
  top: 15px;
  right: 15px; }
  .profile_favorite_remove i {
    margin: 0 !important; }

.profile_favorite_empty {
  text-align: center;
  font-size: 14px; }
  .profile_favorite_empty h3 {
    font-size: 18px;
    font-weight: 400; }

.profile_order {
  background: white;
  padding: 8px;
  margin-bottom: 16px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.profile_order_header {
  padding: 0 0 8px;
  margin: 0 0 8px;
  border-bottom: solid #F1F2F2 1px; }

.profile_order_header_icon {
  width: 16px;
  vertical-align: middle;
  margin: 0 5px 0 0; }

.order_product_row {
  height: 80px;
  overflow: hidden;
  display: flex;
  margin: 0 0 8px; }

.order_product_data {
  margin: 0 0 8px; }

.order_product_data_tbl {
  margin: 0 0 4px; }

.order_product_thumb {
  width: 70px;
  height: 70px;
  display: block;
  font-size: 0; }
  .order_product_thumb img {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%; }

.order_product_content {
  flex: 1;
  padding: 0 0 0 8px; }

.order_product_name {
  font-size: 14px;
  margin: 0 0 4px;
  font-weight: 400; }

.order_detail_header {
  background: white;
  text-align: center;
  margin-bottom: 16px;
  padding: 8px; }

.order_quantity {
  display: flex;
  align-items: center; }
  .order_quantity .count_box {
    margin: 0 8px; }
  .order_quantity .order_quantity_remove {
    margin: 0 0 0 auto; }

.profile_cart_bottom {
  background: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 4px 8px;
  border-top: solid 1px #F1F2F2;
  font-size: 14px; }
  .profile_cart_bottom .table_common {
    margin-bottom: 4px; }

.profile_product_list {
  background: white; }

.profile_product_item {
  display: flex;
  padding: 8px; }

.profile_product_thumb {
  width: 100px;
  height: 100px;
  display: block;
  font-size: 0; }
  .profile_product_thumb img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.profile_product_info {
  padding: 0 0 0 8px;
  flex: 1; }

.profile_product_header {
  display: flex;
  margin: 0 0 8px; }

.profile_product_label {
  padding: 4px;
  border: solid 1px #E6E6E6;
  display: flex;
  align-items: center;
  min-width: 150px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  .profile_product_label img {
    width: 16px; }
  .profile_product_label i {
    font-size: 16px; }
  .profile_product_label div {
    display: flex;
    align-items: center;
    justify-content: center; }
  .profile_product_label--left {
    border-right: solid 1px #E6E6E6;
    width: 40px;
    margin: 0 8px 0 0; }
  .profile_product_label--right {
    flex: 1; }

.profile_product_name {
  font-weight: 400;
  margin: 0 0 4px;
  font-size: 12px; }

.profile_product_remove {
  margin: 0 0 0 auto; }

.profile_wallet_container {
  padding: 16px 0; }

.wallet_box {
  background: white;
  padding: 16px 8px;
  border: solid 1px #F1F2F2;
  margin-bottom: 8px;
  text-align: center;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  .wallet_box--total {
    display: flex;
    align-items: center;
    padding: 8px;
    text-align: left; }

.wallet_box_name {
  font-size: 14px;
  font-weight: 400; }

.wallet_box_money {
  color: #F8A136;
  font-size: 14px; }

.history_exchange_header {
  margin-bottom: 16px;
  border-bottom: solid 1px #F1F2F2;
  padding: 0 0 8px;
  position: relative; }
  .history_exchange_header::before {
    content: '';
    background: #F8A136;
    display: block;
    width: 120px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0px; }

.history_exchange_title {
  font-size: 14px;
  margin: 0;
  font-weight: 500; }

.history_exchange_item {
  background: white;
  border: solid 1px #F1F2F2;
  margin-bottom: 8px;
  padding: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.history_exchange_code {
  margin-bottom: 4px; }

.history_exchange_content {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: dashed 1px #F1F2F2; }

.history_exchange_tbl {
  width: 100%; }
  .history_exchange_tbl td {
    padding: 4px; }
    .history_exchange_tbl td:last-child {
      text-align: right; }

.profile_point_note {
  margin-bottom: 16px; }
  .profile_point_note h4 {
    margin: 0 0 8px;
    font-size: 14px; }
  .profile_point_note ul {
    padding: 0 0 0 16px;
    margin: 0; }

.profile_vip {
  padding: 8px 0;
  margin-bottom: 16px; }

.profile_vip_box {
  background: white;
  padding: 16px;
  border: solid 1px #F1F2F2;
  width: 70%;
  flex: 0 0 70%;
  margin: 0 8px 0 0;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.profile_vip_icon {
  text-align: center;
  margin-bottom: 10px; }
  .profile_vip_icon i {
    font-size: 24px;
    color: #b3b3b3; }
  .profile_vip_icon span {
    text-transform: uppercase;
    display: inline-block;
    margin: 5px 0 0; }

.profile_vip_progess {
  background: #E6E6E6;
  height: 24px;
  line-height: 24px;
  position: relative;
  margin: 0 0 5px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.profile_vip_loading {
  background: #F8A136;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding: 5px;
  width: 0;
  display: flex;
  align-items: center;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.profile_vip_flag {
  display: flex;
  justify-content: space-between;
  color: #b3b3b3; }

.empty_block {
  text-align: center;
  padding: 32px; }

.empty_block_img {
  width: 160px;
  margin: 0 0 16px; }

.empty_block_title {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 16px; }

.empty_block_text {
  margin: 0 0 16px; }

body {
  background-color: #F9F9F9;
  color: #333;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }
