.menu_mobile {position: fixed;top: 0;z-index: 1000;height: 100%;width: 280px;opacity: 0;visibility: hidden;
  @include transition(all .3s ease);

  //Left
  &.menu_mobile_left {left: 0;padding: 0 30px 0 0;
    @include translate(-280px,0);
    .menu_mobile_close {right: 0}
  }
  //Right
  &.menu_mobile_right {right: 0;padding: 0 0 0 30px;
    @include translate(280px,0);
    .menu_mobile_close {left: 0}
  }
  &.open {@include translate(0,0);opacity: 1;visibility: visible}
}
.menu_mobile_inner {background: white;height: 100%;width: 100%;overflow-y: auto}
.menu_mobile_header {background: $color-orange;margin: 0;height: 55px;padding: 5px 10px;display: flex;align-items: center;color: white;}
.menu_mobile_title {font-size: $font-size-m;margin: 0;font-weight: $font-regular;flex: 1;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.menu_mobile_back {padding: 5px;vertical-align: middle;}
.menu_mobile_lst {background: $color-base;margin: 0 0 15px;
  @extend %reset-lst;
}
.menu_mobile_item {position: relative}
.menu_mobile_url {display: block;border-bottom: solid 1px $color-bg-secondary;padding: 8px 55px 8px 8px;position: relative;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
  .badge {background: $color-red;color: white;font-size: $font-size-xs;min-width: 28px;text-align: center;position: absolute;right: 24px;top: 10px;
    @include border-radius(4px);
  }
}
.menu_mobile_icon {margin: 0 10px 0 0;min-width: 20px;text-align: center;color: $color-orange;
  i {}
}
.menu_mobile_arr {padding: 5px 10px;position: absolute;right: 0;top: 3px}
.menu_mobile_footer {padding: 0 8px}
.menu_mobile_support {
  a {margin-bottom: 8px}
}

.menu_mobile_user {display: flex;align-items: center;color: white}
.menu_mobile_user_avarta {display: block;width: 40px;height: 40px;margin: 0 10px 0 0;overflow: hidden;
  @include border-radius(50%);
  img {}
}
.menu_mobile_user_info {}
.menu_mobile_user_name {margin: 0 0 5px;font-weight: $font-regular}
.menu_mobile_user_level {}

//Menu mobile sub
.menu_mobile_sub {position: fixed;top: 0;background: white;min-height: 100%;width: 250px;z-index: 1;opacity: 0;visibility: hidden;
  @include transition(all .3s ease);
  @include translate(-280px,0);
  &.open {opacity: 1;visibility: visible;
    @include translate(0,0);
  }
}

.menu_mobile_close {background: rgba(0,0,0, 0.7);position: absolute;top: 10px;width: 20px;height: 20px;line-height: 20px;color: white;text-align: center;
  @include border-radius(2px);
}
.bg_overlay {background: rgba(0,0,0, 0.3);position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: 999;overflow: hidden;opacity: 0;visibility: hidden;
  @include transition(all .3s ease);
  &.open {opacity: 1;visibility: visible}
}