<div class="block_container" id="">
    <div class="block_header">
        <h3 class="block_title">Gợi ý dành cho bạn</h3>
        <a href="#" class="block_header_more">Xem thêm <i class="fas fa-angle-right"></i></a>
    </div>
    <div class="block_body">
        <ul class="tab_nav_lst tab_nav_lst--primary scroll_mobile_h" id="">
            <li class="tab_item active"><a href="javascript:void(0)" title="Yahoo! Auction" class="active">Yahoo! Auction</a></li>
            <li class="tab_item"><a href="javascript:void(0)" title="Yahoo! Shopping">Yahoo! Shopping</a></li>
            <li class="tab_item"><a href="javascript:void(0)" title="Amazon">Amazon</a></li>
            <li class="tab_item"><a href="javascript:void(0)" title="Rakuten">Rakuten</a></li>
            <li class="tab_item"><a href="javascript:void(0)" title="iChiba Place">iChiba Place</a></li>
        </ul>
        <div class="category_grid">
            <div class="category_grid_row scroll_mobile_h">
                {% for i in 0..7 %}
                    <div class="category_grid_col">
                        <a href="#" class="category_grid_item">
                            <img src="http://placehold.jp/230x195.png" alt=""/>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>