<div id="modal_estimate" class="modal modal_primary">
    <div class="modal_header">
        <h4 class="modal_title"><i class="fas fa-calculator"></i> Kết quả ước tính</h4>
    </div>
    <div class="modal_body">
        <table class="table_common font_size_12 table_striped table_secondary">
            <tr>
                <td>Giá sản phẩm</td>
                <td>
                    <span class=" color_orange">10.000.000đ</span>
                    <br/>
                    <span>10.000.000¥</span>
                </td>
            </tr>
            <tr>
                <td>Phí chuyển khoản ngân hàng nội địa</td>
                <td>
                    <span class=" color_orange">10.000.000đ</span>
                    <br/>
                    <span>10.000.000¥</span>
                </td>
            </tr>
            <tr>
                <td>Phí dịch vụ</td>
                <td>
                    <span class=" color_orange">10.000.000đ</span>
                    <br/>
                    <span>10.000.000¥</span>
                </td>
            </tr>
            <tr>
                <td>Phí thuế nội địa Nhật</td>
                <td>
                    <span class=" color_orange">10.000.000đ</span>
                    <br/>
                    <span>10.000.000¥</span>
                </td>
            </tr>
            <tr>
                <td>Phí vận chuyển nội địa Nhật</td>
                <td>
                    <span class=" color_orange">10.000.000đ</span>
                    <br/>
                    <span>10.000.000¥</span>
                </td>
            </tr>
            <tr>
                <td>Phí thùng vận chuyển</td>
                <td>
                    <span class=" color_orange">10.000.000đ</span>
                    <br/>
                    <span>10.000.000¥</span>
                </td>
            </tr>
            <tr>
                <td>Phí đóng hàng</td>
                <td>
                    <span class=" color_orange">10.000.000đ</span>
                    <br/>
                    <span>10.000.000¥</span>
                </td>
            </tr>
            <tr>
                <td>Phí vận chuyển quốc tế</td>
                <td>
                    <span class=" color_orange">10.000.000đ</span>
                    <br/>
                    <span>10.000.000¥</span>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal_footer">
        <div class="text_center">
            <span class="font_size_14">Tổng chi phí dự kiến</span>
            <br/>
            <span class="color_orange">10.000.000đ</span>
        </div>
    </div>
</div>