<div id="modal_shop_same_sale" class="modal modal_primary">
    <div class="modal_header">
        <h4 class="modal_title">Cửa hàng cùng bán</h4>
    </div>
    <div class="modal_body">
        <div class="shop_same_sale">
            {% for i in 0..4 %}
            <div class="row shop_same_sale_item">
                <div class="col-12 mb-2">
                    <div class="shop_same_sale_name">
                        <i class="fas fa-store"></i> Amazon
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex">
                        <div class="product_stars mr-3">
                            <span class="product_stars_icon " style="width: 60%"></span>
                        </div>
                        <span class="color_orange">(4.1/5)</span>
                    </div>
                    <div class="font_size_xs">(1.000.000 đánh giá)</div>
                    <div class="color_green font_size_xs">98% đánh giá uy tín</div>
                </div>
                <div class="col-6 text_right">
                    <span class="color_orange">60,000,000¥ </span><br/>
                    <span class="color_orange font_size_12">
                        (~12,720,000,000đ)
                    </span>
                </div>
                <div class="col-12 modal_group_button mt-2">
                    <a href="javascript:void(0)" class="button_primary button_full button_micro"><i class="icon-ichiba-plugin"></i> Mua ngay</a>
                    <a href="javascript:void(0)" class="button_secondary button_full button_micro"><i class="icon-ichiba-add-cart"></i> Thêm vào giỏ</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="modal_footer">
        <a href="javascript:void(0)" class="button_primary button_full button_small" rel="modal:close">Đóng</a>
    </div>
</div>