<div id="modal_history_auction" class="modal modal_primary">
    <div class="modal_header">
        <h4 class="modal_title">Lịch sử đấu</h4>
    </div>
    <div class="modal_body">
        <ul class="history_auction_lst">
            {% for i in 0..9 %}
            <li class="history_auction_item">
                <div>Lorem ipsum/Rating:96 Cao nhất</div>
                <div>Tự động <span class="color_orange">20.000.000¥</span></div>
                <div class="">Ngày 27 tháng 2 lúc 12:25</div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="modal_footer">
        <a href="javascript:void(0)" class="button_primary button_full button_small" rel="modal:close">Đóng</a>
    </div>
</div>