<div class="popup_container">
    <div id="header">
        <div class="container-custom header_container">
            <div class="header_col header_col--center">
                <div class="header_search">
                    <input type="text" placeholder="Bạn cần tìm gì..." class="input_common input_common--medium header_search_input"/>
                    <a href="javascript:void(0)" class="header_search_icon"><i class="fas fa-search"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-custom">
        <div class="popup_body">
            <div class="popup_block">
                <div class="popup_block_header">
                    <h3 class="popup_block_title">Từ khóa gợi ý</h3>
                </div>
                <div class="popup_block_body">
                    <ul class="popup_result_lst">
                        {#{% for i in 0..5 %}
                            <li class="popup_result_item">
                                <a href="#">Result 1</a>
                            </li>
                        {% endfor %}#}
                    </ul>
                </div>
            </div>
            <div class="popup_block">
                <div class="popup_block_header">
                    <h3 class="popup_block_title">Tìm trong site</h3>
                </div>
                <div class="popup_block_body">
                    <div class="popup_choice_site">
                        <a href="javascript:void(0)" class="button_secondary_gray button_tiny"><i class="fas fa-globe"></i> Tất cả</a>
                        <a href="javascript:void(0)" class="button_secondary_gray button_tiny"><img src="../../../images/icon-amazon.svg" alt=""/>Amazon</a>
                        <a href="javascript:void(0)" class="button_secondary_gray button_tiny"><img src="../../../images/icons/icon-rakuten.svg" alt=""/> Rakute</a>
                        <a href="javascript:void(0)" class="button_secondary_gray button_tiny"><img src="../../../images/icon-auction.svg" alt=""/>Yahoo Auction</a>
                        <a href="javascript:void(0)" class="button_secondary_gray button_tiny"><img src="../../../images/icons/ichiba-icon-2.svg" alt=""/>Yahoo Shopping</a>
                    </div>
                </div>
            </div>
            <div class="popup_block">
                <div class="popup_block_header">
                    <h3 class="popup_block_title"><i class="fas fa-fire-alt color_red"></i> Từ khóa HOT</h3>
                </div>
                <div class="popup_block_body">

                </div>
            </div>
            <div class="popup_block">
                <div class="popup_block_header">
                    <h3 class="popup_block_title"><i class="fas fa-history color_blue"></i> Lịch sử tìm kiếm</h3>
                </div>
                <ul class="popup_result_lst">
                    {% for i in 0..5 %}
                        <li class="popup_result_item">
                            <a href="#">Result 1</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="row">
                <div class="offset-md-2 col-md-4 col-6">
                    <button class="button_secondary button_small button_full button_close_popup">Đóng</button>
                </div>
                <div class="col-md-4 col-6">
                    <button class="button_primary button_small button_full">Tìm kiếm</button>
                </div>
            </div>
        </div>
    </div>
</div>