<div class="product_seller">
    <div class="product_seller_header">
        <h5 class="product_seller_title"><i class="fas fa-store"></i> Amazon</h5>
    </div>
    <div class="product_seller_body">
        <div class="product_assess_icon_grp mb-2">
            <span class="product_assess_icon">100 <i class="far fa-sun"></i> </span>
            <span class="product_assess_icon">100 <i class="fas fa-cloud"></i> </span>
            <span class="product_assess_icon">100 <i class="fas fa-umbrella"></i> </span>
        </div>
        <div class="d-flex align-items-center mb-3">
            <strong class="source_stars">
                <span style="width: 100%"></span>
            </strong> (1.000 đánh giá)
        </div>
        <div class="color_green mb-1">95% đánh giá uy tín</div>
        <div class="color_green mb-3">Shop có độ uy tin cao!</div>
        <div class="product_seller_btns">
            <a href="#" class="button_secondary button_full button_like">
                <span><i class="far fa-heart"></i> Thích</span>
            </a>
            <a href="#" class="button_secondary button_full">
                <span>Xem Shop</span>
            </a>
        </div>
    </div>
</div>