<div class="product_detail_des" id="">
    <p>
        Thank you for seeing it.
        * IMPORTANT First of all, after reading the explanation below, please purchase when convinced.
        imei See picture reference
        au purchased item sim unlocked
        activated activation lock off and shipped
        Network usage restrictions ○ no remaining bonds
        iOS 12.1.2
        buttons, wifi touch I 'd camera no abnormality
        only main unit
        battery status 100%
        Sim card is not attached
        We will initialize and ship
        Although there is a certain feeling of use, I think whether it can be used without trouble.
        No liquid crystal scratches, see the photo on the exterior use feeling


        Although it may have a problem other than what I acknowledged, please understand that it is second - hand goods before you understand and acknowledge it.
        Those who care about the above explanation, please refrain from purchasing nervous one.
        After purchase no return or cancellation of goods Please purchase only those who can do with no claim no return.
        Instant purchase possible
        Please evaluate promptly after delivery.

        Payment is only yahoo settlement of accounts. Please understand that we will delete with the highest bidder convenience if the payment due date of easy settlement passes.

        Dispatch will ship as soon as the status of the seller's side after the simple settlement is changed from "Yahoo! Judging" to "Evaluation waiting for the highest bidder".
        The longest (This is when the successful bidder's deposit can not be confirmed by yahoo side) It will take about 6 days.
        Normally, it changes if there is a little less than one day, so we will ship as soon as possible as soon as the status changes.
        Please acknowledge this because it is the direction as directed by Yahoo! shipping instructions.

        For preventing mischief, we will delete new accounts, accounts with less evaluation etc.
        Payment, Delivery
    </p>
</div>