#banner {margin-bottom: 15px;overflow: hidden;
  .slick-slider {padding: 0;margin: 0}
  .slick-dots {bottom: 15px}
}
.banner_home {}
.banner_slide {display: none;overflow: hidden;
  &.slick-initialized {display: block}
}
.banner_slide_item {text-align: center;
  img {width: 100%}
}
