
.category_grid {
  img {width: 100%}
}

.category_grid_row {margin: 0 -4px;display: flex;flex-wrap: wrap}
.category_grid_col {flex: 0 0 50%;padding: 4px;display: flex;align-items: center;flex-direction: column;
  @media (min-width: $bp-md) {
    flex: 0 0 33.33%;
  }
  &.category_grid_col--2-item {
    .category_grid_item {margin-bottom: 8px;
      &:last-child {margin-bottom: 0}
    }
  }
}
.category_grid_item {display: block;position: relative;width: 100%;height: 100%;font-size: 0;
  &::before {@include responsive-ratio(230, 195);}
}