//Block
.block_container {background: white;padding: 8px;margin-bottom: 15px;margin-left: -8px;margin-right: -8px;
  @include border-radius(4px);
}
.block_header {display: flex;align-items: center;padding: 4px 0;margin: 0 0 8px;position: relative;
  &.block_header_select {background: $color-bg-third;justify-content: space-between;padding: 0 8px;margin: -8px -8px 16px -8px;
    .block_header_arrow {padding: 5px;font-size: $font-size-m;min-width: 32px;text-align: center;position: relative;
      &.active {
        .block_header_options {opacity: 1;visibility: visible;z-index: 1}
      }
    }
    .block_header_options {position: absolute;white-space: nowrap;right: 0;background: white;text-align: left;font-size: $font-size-xs;top: inherit;padding: 8px;min-width: 200px;opacity: 0;visibility: hidden;
      @include transition(all .3s ease);
      @include box-shadow(0, 0, 2px, rgba(0,0,0, 0.2));
    }
    .block_header_option_item {display: block;padding: 8px 4px}
  }
}
.block_header_more {position: absolute;right: 0;top: 6px;font-size: $font-size-xs;color: $color-orange;
  i {vertical-align: middle}
}

.block_title {margin: 0;font-size: $font-size-s;font-weight: $font-medium;flex: 1}
.block_body {}

.block_product_common {
  .block_header {flex-direction: column;align-items: flex-start;}
  .block_title {width: 100%;display: flex;justify-content: space-between;align-items: center;
    a {font-size: $font-size-xs;font-weight: $font-medium;display: flex;align-items: center;color: $color-link;
      &:hover {color: $color-orange}
      i {margin-left: 5px;margin-top: 2px}
    }
  }
}
.block_pagination {display: flex;align-items: center;justify-content: center;padding: 10px 0;
  span {background: $color-gray;display: inline-block;margin: 0 5px;width: 10px;height: 10px;cursor: pointer;
    @include border-radius(10px);
    @include transition(all .3s ease);
    &:hover{background: $color-orange-secondary;}
    &.active {background: $color-orange-secondary;width: 20px;}
  }
}
