#block_store {}
.store_tab {

}
.store_tab_list {margin: 0 0 16px;white-space: nowrap;
  div {margin: 0 4px 0 0;
    a {background: white;border: solid 1px $color-orange;display: block;color: $color-orange;padding: 3px 5px;
      @include border-radius(4px);
    }
    &.active {
      a {background: $color-orange;color: white}
    }
  }
  .slick-slide {padding: 0 5px}
  .slick-prev::before,
  .slick-next::before {color: $color-orange}
  .slick-prev {left: 0}
  .slick-next {right: 0}
}
.store_items {margin: 0 -4px;font-size: $font-size-xs;display: flex;flex-wrap: wrap;}
.store_item {flex: 0 0 33.33%;padding: 0 4px;margin-bottom: 8px;width: 33.33%;
  @media (min-width: $bp-md) {
    flex: 0 0 33.33%;
  }
}
.store_item_inner {border: solid 1px $color-bg-secondary;padding: 4px;height: 100%;
  @include transition(all .3s ease);
  &:hover {border-color: $color-orange}
}
.store_name {font-weight: $font-medium;font-size: $font-size-xs;margin: 0 0 10px;}
.store_des {margin: 0}
.store_type {font-size: $font-size-xs;margin: 0 0 10px}
.store_thumb {margin-bottom: 10px;display: block;text-align: center;
  img {width: 100%}
}