#block_supplier_category {}
.supplier_category {}
.supplier_category_row {margin: 0 -4px;display: flex;flex-wrap: wrap}
.supplier_category_col {flex: 0 0 33.33%;padding: 4px;display: flex;align-items: center;flex-direction: column;width: 33.33%;
  @media (min-width: $bp-md) {
    flex: 0 0 25%;
  }
}
.supplier_category_item {display: block;text-align: center;margin-bottom: 8px;width: 100%;padding: 4px;
  &:last-child {margin-bottom: 0}
}
.supplier_category_thumb {width: 100%}
.supplier_category_name {font-size: $font-size-xs;display: block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}