.product_list {font-size: $font-size-xs}
.product_list_filter {background: $color-base;text-align: center;display: flex;font-size: $font-size-s;border-bottom: solid 1px $color-bg-secondary;margin: -8px -8px 8px -8px}
.product_list_filter_item {padding: 10px;flex: 1;}
.product_row {margin: 0 -4px;display: flex;flex-wrap: wrap}
.product_col {margin-bottom: 8px;width: 50%;flex: 0 0 50%;padding: 0 4px;
  @media (min-width: $bp-md) {
      width: 33.33%;flex: 0 0 33.33%;
  }
}
.product_thumb {background: white;margin-bottom: 4px;font-size: 0;display: block;
  img {width: 100%;height: 100%;object-fit: contain}
}
.product_info {}
.product_info_top {display: flex;border: solid 1px $color-bg-secondary;margin-bottom: 5px;align-items: center;padding: 5px;
  @include border-radius(4px);
  .product_info_top--left,
  .product_info_top--right {height: 100%;}

  .product_info_top--left {border-right: solid 1px $color-bg-secondary;flex: 1}
  .product_info_top--right {width: 30%}

  span {justify-content: center;display: flex;align-items: center;
    &.product_info_time_countdown {}
    &.product_info_discount {color: $color-red;}
    &.product_source_web {color: $color-orange;
      i {font-size: $font-size-s}
      img {width: 12px;margin: 0 4px 0 0}
    }
  }
}
.product_name {font-size: $font-size-xs;font-weight: inherit;margin: 0 0 5px;height: 32px;overflow: hidden;
  a {}
}
.product_info_row {margin: 0 0 5px;
  .button_micro.product_button {padding: 5px}
}
.product_price {color: $color-orange;
  .product_price_vn {font-size: 10px}
  .product_price_jp {}
}

.product_stars {width: 50px;height: 10px;
  .product_stars_icon {background: url("../../../images/icon-star.svg") repeat-x 0 50%;display: block;height: 100%}
}


//Assess icon
.product_assess_icons {}
.product_assess_icon {display: inline-block;margin-right: 3px;font-size: $font-size-xs;
  &:last-child {margin-right: 0}
  i.fa-sun {color: #FCBC00}
  i.fa-cloud {color: #999}
  i.fa-umbrella {color: #4DA6FF}
}