{# layout.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>{% block pageTitle %}{{ slogan }}{% endblock %}</title>
    <meta name=description content="{{slogan}}"/>
    <meta name=keywords content="{{slogan}}"/>
    <meta name=title content="{{slogan}}"/>
    <meta itemprop=keywords name=news_keywords content="{{slogan}}"/>

    <meta name=viewport content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name=author content="{{slogan}}"/>
    <meta name=article:author content="{{slogan}}"/>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8"/>

    <meta itemprop=description property=og:description content="{{slogan}}"/>
    <meta property=og:site_name content="{{slogan}}"/>
    <meta property=og:locale content=vi_VN/>
    <meta property=og:type content=article/>
    <meta property=og:url content=""/>
    <meta property=og:title content="{{slogan}}"/>
    <meta property=fb:app_id content=1948000195514715/>
    <meta property=og:image content=""/>
    <meta itemprop=image content=""/>
    <meta itemprop=datePublished content="Thu, 14-03-2019 17:26:13"/>
    <meta name=msvalidate.01 content=""/>

    <!--Icon web & app-->
    <link rel="apple-touch-icon" sizes="57x57" href="../../images/favicon/apple-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="../../images/favicon/apple-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="../../images/favicon/apple-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="../../images/favicon/apple-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="../../images/favicon/apple-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="../../images/favicon/apple-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="../../images/favicon/apple-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="../../images/favicon/apple-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon/apple-icon-180x180.png"/>
    <link rel="icon" type="image/png" sizes="192x192"  href="../../images/favicon/android-icon-192x192.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../../images/favicon/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="../../images/favicon/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/favicon/favicon-16x16.png"/>
    <link rel="icon" sizes="16x16" href="../../images/favicon/favicon.ico" />
    {#<link rel="manifest" href="images/favicon/manifest.json">#}
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../../images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta name=robots content="index,follow"/>
    <link rel=canonical href=""/>
    <meta name=googlebot content="noodp,index,follow"/>
    <meta name=robots content="index,follow"/>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../lib/bootstrap/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" type="text/css" href="../../lib/fontawesome/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/jquery-modal/jquery.modal.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/icomoon.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/main.css"/>

</head>
<body>
<div id="main" class="main_mobile">
    {% block page %}
        {% set slogan = 'Ichiba - Buy from japan for you' %}
    {% endblock %}
</div>
<div class="bg_overlay"></div>

{% include "../components//modal_tracking_order.twig" %}
{% include "../components//popup_search.twig" %}

<!-- JS -->
<script src="../../lib/jquery/jquery-3.3.1.js" type="text/javascript"></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>#}
<script src="../../lib/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

<script src="../../lib/slick/slick.min.js" type="text/javascript"></script>
<script src="../../lib/jquery-modal/jquery.modal.min.js" type="text/javascript"></script>
<script src="../../js/main-mobile.js" type="text/javascript"></script>
</body>
</html>