{% set nav = [
    { title: "Thông báo", icon: "fas fa-bell",url: '/index.html' },
    { title: "Giỏ hàng Shopping", icon: "icon-ichiba-plugin",url: '/index.html' },
    { title: "Đấu giá", icon: "icon-ichiba-auction",url: '/index.html' },
    { title: "Sản phẩm yêu thích", icon: "fas fa-gift",url: '/index.html' },
    { title: "Cửa hàng yêu thích", icon: "fas fa-store", url: '/index.html' },
    { title: "Quản lý đơn hàng", icon: "far fa-clipboard", url: '/index.html' },
    { title: "Đơn hàng khiếu nại", icon: "icon-ichiba-plugin", url: '/index.html' },
    { title: "Ví của tôi", icon: "fas fa-wallet", url: '/index.html' },
    { title: "Cài đặt tài khoản", icon: "fas fa-cog", url: '/index.html' },
    { title: "Đổi mật khẩu", icon: "fas fa-key", url: '/index.html' },
    { title: "Tích điểm", icon: "fas fa-medal", url: '/index.html' },
    { title: "Khuyến mãi của tôi", icon: "fas fa-ticket-alt", url: '/index.html' },
] %}


<div class="menu_mobile menu_mobile_right">
    <a href="javascript:void(0)" class="menu_mobile_close">
        <i class="fas fa-times"></i>
    </a>
    <div class="menu_mobile_inner">
        <div class="menu_mobile_header">
           <div class="menu_mobile_user">
               <a href="#" class="menu_mobile_user_avarta">
                   <img src="http://placehold.jp/80x80.png" alt=""/>
               </a>
               <div class="menu_mobile_user_info">
                   <h4 class="menu_mobile_user_name">Hi! Nguyễn Văn A</h4>
                   <div class="menu_mobile_user_level">
                       <i class="fas fa-medal"></i>
                       <i class="fas fa-medal"></i>
                       <i class="fas fa-medal"></i>
                   </div>
               </div>
           </div>
        </div>
        <ul class="menu_mobile_lst">
            {% for i in nav %}
                <li class="menu_mobile_item">
                    <a href="{{ i.url }}" title="{{ i.title }}" class="menu_mobile_url">
                        <span class="menu_mobile_icon">
                            <i class="{{ i.icon }}"></i>
                        </span>
                        {{ i.title }}
                        <span class="badge">09</span>
                        <span class="menu_mobile_arr">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="menu_mobile_footer">
            <a href="#" class="button_secondary button_full">Đăng xuất</a>
        </div>
    </div>
</div>
