.blocker {z-index: 9999 !important;}
.modal_primary {background: white;padding: 0;width: 98%;vertical-align: top;
  a.close-modal {}
  .modal_header {background: $color-orange;min-height: 40px;padding: 8px;text-align: center;color: white;
    @include border-radius(8px 8px 0 0);
  }
  .modal_title {margin: 0;font-weight: $font-regular}
  .modal_body {padding: 8px}
  .modal_footer {padding: 8px}
}
.modal_group_button {display: flex;margin: 0 -2px;
  a,button {flex: 1;margin: 0 2px}
}

//Modal set price
.modal_set_price {
  #set_price_input {width: 80px}
}

//Modal after set price
#modal_after_set_price {
  &.modal_set_price_success {
    .set_price_result {color: $color-green}
  }
  &.modal_set_price_error {
    .set_price_result {color: $color-red}
  }
  .set_price_result {text-align: center}
  .set_price_icon i {font-size: 40px;}
}

//Modal shop same sale
#modal_shop_same_sale {}
.shop_same_sale {}
.shop_same_sale_item {padding: 8px 0;border-bottom: solid 1px $color-bg-third}
.shop_same_sale_name {color: $color-orange;font-size: $font-size-s}