@mixin box_gray() {
  background: $color-base;padding: 8px;height: 100%;
  @include border-radius(8px);
}
#page_supplier_product {background: white}
.product_main_tab {
  .product_tab_lst {background: $color-bg-third;margin: -8px -8px 0 -8px;border-bottom: solid 1px $color-bg-secondary;font-weight: $font-regular}
  .product_tab_item {text-align: center;padding: 10px;border-bottom: solid 2px transparent;flex: 0 0 30%;
    &.active {background: transparent;color: $color-orange;border-bottom-color: $color-orange}
  }
  .product_tab_content {padding: 0 8px 8px 8px;margin: 0 -8px;width: auto}
}

.product_detail_row {margin-bottom: 8px}
.product_detail_header {margin: 0 0 8px;}
.product_detail_body {}
.product_detail_info {}

.product_seller {padding: 8px 0;}
.product_seller_header {}
.product_seller_title {margin: 0 0 8px;color: $color-orange;font-size: $font-size-m}
.product_seller_body {font-size: $font-size-xs;
  h5 {font-size: $font-size-s;color: $color-orange;font-weight: normal}
}
.product_seller_btns {display: flex;align-items: center;justify-content: center;max-width: 320px;margin: 0 auto;
  a {width: 45%;margin: 0 4px;
    &.button_like {border-color: $color-heart;color: $color-heart;
      &:hover {background: $color-heart;color: white}
    }
  }
}

.product_detail_name {color: $color-orange;font-weight: $font-medium;line-height: 1.4;margin: 0 0 8px;font-size: $font-size-s}
.product_detail_des {padding: 8px 0}
.product_detail_review {padding: 8px 0}
.product_detail_overview {padding: 8px 0;font-size: $font-size-xs;
  table {width: 100%;border-collapse: collapse;
    tr {}
    td {padding: 5px;border: solid 1px $color-bg;
      &:first-child {background: $color-bg;}
    }
  }
}
.product_detail_qa {padding: 8px 0;
  .qa_list {font-size: $font-size-xs}
  .qa_item {position: relative;margin-bottom: 15px;padding: 0 0 0 50px;min-height: 60px}
  .qa_item_content {}
  .qa_item_row {display: flex;margin: 0 0 5px;
    strong {display: inline-block;margin: 0 5px 0 0}
    p {margin: 0}
  }
  .qa_vote {background: $color-bg-secondary;width: 40px;height: 40px;position: absolute;left: 0;top: 0;display: flex;flex-direction: column;justify-content: center;align-items: center;
    @include border-radius(4px);
  }
  .qa_item_author {color: $color-text-third;}
  .qa_item_more {text-align: center}
}

.product_auction_price_col {
  @include box_gray;
}
.product_auction_box_gray {
  @include box_gray;
}

.prodct_source_meta {padding-bottom: 8px;margin-bottom: 8px;border-bottom: dashed 1px $color-border;}
.product_source_ribbon {background: $color-orange-secondary;color: white;display: inline-block;position: relative;padding:3px 15px 3px 5px;text-align: center;margin: 0 15px 0 0;
  @include border-radius(3px);
  &::before {content: '';position: absolute;right: 0;top: 0;
    @include css-triangle(left,white,25px,10px);
  }
}

.product_source_price {margin-bottom: 16px;
  .source_price_col {
    &--left {}
    &--right {}
    table {background: $color-bg;width: 100%;padding: 8px;
      @include border-radius(8px);
      td {border: none;vertical-align: top}
    }
  }
  .source_price_buttons {display: flex;justify-content: center;flex-wrap: wrap;
    a {width: 48%;padding: 5px;margin: 0 2px 8px 2px;}
  }
}
.product_source_estimate_time {padding: 0 0 0 45px;font-size: $font-size-xs;position: relative;margin: 10px 0;
  i {background: $color-orange;width: 30px;height: 30px;display: flex;align-items: center;justify-content: center;color: white;position: absolute;left: 0;top: 0;font-size: $font-size-s;
    @include border-radius(50%);
  }
  p {}
}

.product_source_attribute {
  .source_attribute_item {display: flex;align-items: center;margin-bottom: 8px;
    label {margin: 0 8px 0 0}
  }
  .source_attribute_color {display: flex;width: 100%;
    a {display: block;margin: 0 10px 0 0;overflow: hidden;border: solid 1px $color-border;height: 70px;flex: 0 0 70px;
      @include border-radius(5px);
      &:hover {border-color: $color-orange}
    }
    img {width: 100%;height: 100%;object-fit: cover}
  }
}
.product_source_quantity {}
.product_source_grp_btn {background: white;position: fixed;width: 100%;bottom: 0;display: flex;align-items: center;padding: 2px;justify-content: center;
  a.button_large {flex: 1;font-size: $font-size-s;margin: 0 2px;padding: 5px;line-height: inherit}
}

//Product auction table info
.product_auction_tbl_info {width: 100%;margin: 15px 0 0;
  table {width: 100%;
    tr {}
    td {padding: 5px;font-size: 12px;
      &:first-child {background: $color-bg;}
    }
  }
}

//Review product
.review_user {}
.review_attribute {display: flex;align-items: center;padding: 5px 0;border-bottom: solid 1px $color-border;margin-bottom: 15px}
.review_attribute_item {margin: 0 15px 0 0;cursor: pointer;
  input {margin-right: 5px}
  label {margin: 0}
}

.review_lst {}
.review_item {margin:0 0 15px;font-size: $font-size-xs}
.review_item_name {background: white;font-weight: $font-medium;font-size: $font-size-s;margin:0 0 5px;}
.reiview_item_content {margin: 0 0 5px;color: $color-link}
.review_item_comment {}


.source_stars {display: inline-block;width: 75px;margin: 0 15px 0 0;
  span {background: url(../../images/icon-star.svg) repeat-x 0 50%;background-size: 15px;display: block;height: 15px;}
}