#page_blog {}
.box_posts_top {display: flex;align-items: center;padding: 0 0 4px;margin: 0 0 4px}
.box_posts_container {margin: 0 0 16px}
.box_posts_header {}
.box_posts_title {margin: 0 0 8px;font-weight: $font-medium;font-size: $font-size-m}
.box_posts_list {flex: 1;
  @extend %reset-lst;
  &.box_posts_customer_care {
    a {display: block;width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;position: relative;padding: 0 0 0 20px;
      &::before {content: '';background: $color-orange;display: block;width: 10px;height: 10px;position: absolute;left: 0;top: 50%;margin: -5px 0 0;
        @include border-radius(50%);
      }
    }
  }
}
.box_posts_thumb {display: block;width: 100px;height: 80px;margin: 0 8px 0 0;
  img {width: 100%;height: 100%;object-fit: cover}
}
.box_posts_row {display: flex;margin: 0 0 8px;
  &:last-child {margin: 0}
}
.box_posts_content {flex: 1}
.box_posts_des {margin: 0 0 5px;font-weight: $font-regular;height: 57px;overflow: hidden}
.box_posts_date {font-size: $font-size-xs;}


//posts Detail
.posts_container {margin-bottom: 50px}
.posts_header {margin-bottom: 15px}
.posts_title {font-size: $font-size-m;margin: 0 0 8px}
.posts_header_meta {display: flex;margin: 0 0 8px;font-size: $font-size-xs;
  i {margin: 0 5px 0 0}
}
.posts_publised_date {margin: 0 15px 0 0}
.posts_seen {}

.posts_header_summary {}

.posts_body {margin-bottom: 30px}
.posts_summary {background: $color-bg;border: solid 1px $color-border;padding: 10px;float: left;margin: 0 0 8px;width: 100%;min-width: 290px;
  @media (min-width: $bp-mobile) {
    width: auto;margin: 0 15px 15px 0;
  }
  @include border-radius(8px);

  h5 {font-size: $font-size-s;font-weight: $font-regular;margin: 0 0 8px}
  ul {@extend %reset-lst;padding-left: 15px;font-size: $font-size-s;
    li {padding: 2px 0}
  }
}
.posts_footer {}
.posts_share {
  @media (min-width: $bp-md) {
    text-align: right;
  }
  strong {display: inline-block;margin-bottom: 5px}
}
.posts_share_icon {
  a {font-size: 0;display: inline-block;margin: 0 5px 0 0;
    img {width: 30px}
  }
}
.posts_author {text-align: right;margin-bottom: 8px;
  @media (min-width: $bp-md) {
    margin: 0;text-align: left;
  }
}