{% extends "../layout/layout.twig" %}
{% block pageTitle %} Ví của tôi - {{ slogan }}{% endblock %}

{% block page %}
    <div class="page_profile" id="page_profile_wallet">
        {% include "../layout/header/header_thirdty.twig" with {title: 'Ví của tôi'} %}
        <div class="main_body">
            <div class="container-custom main_content">
                <div class="profile_wallet_container">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="wallet_box wallet_box--total">
                                <div class="col-8">
                                    <strong class="wallet_box_name">Tổng số dư</strong> <br>
                                    <strong class="wallet_box_money">10.000.000.000đ</strong>
                                </div>
                                <div class="col">
                                    <a href="#" class="button_primary button_full button_tiny mb-2">Nạp tiền</a>
                                    <a href="#" class="button_secondary button_full button_tiny">Rút tiền</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="wallet_box">
                                <strong class="wallet_box_name">Số dư khả dụng</strong>
                                <span class="wallet_box_money">10.000.000.000đ</span>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="wallet_box">
                                <strong class="wallet_box_name">Số dư đóng băng</strong>
                                <span class="wallet_box_money">10.000.000.000đ</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% include '../components/history_exchange.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

