{% extends "../layout/layout.twig" %}
{% block pageTitle %} Giỏ hàng của bạn - {{ slogan }}{% endblock %}

{% block page %}
    <div class="page_profile" id="page_profile_order_detail">
        {% include "../layout/header/header_thirdty.twig" with {title: 'Giỏ hàng của bạn'} %}
        <div class="main_body">
            <div class="container-custom main_content">
                {% include '../components/profile_main_tab.twig' %}
                <div class="empty_block">
                    <img src="../../images/card-empty.png" alt="" class="empty_block_img"/>
                    <h3 class="empty_block_title">
                        Giỏ hàng của bạn trống
                    </h3>
                    <p class="empty_block_text">
                        Hình như bạn vẫn chưa thêm sản phẩm
                        nào vào giỏ hàng...
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

