{% extends "../layout/layout.twig" %}
{% block pageTitle %} Khiếu nại đơn hàng - {{ slogan }}{% endblock %}

{% block page %}
    <div class="page_profile" id="page_profile_complain">
        {% include "../layout/header/header_thirdty.twig" with {title: 'Khiếu nại đơn hàng'} %}
        <div class="main_body">
            <div class="container-custom main_content">
                {% include '../components/profile_main_tab.twig' %}
                <div class="complain_container">
                    {% for i in 0..2 %}
                        <div class="profile_order">
                            <div class="profile_order_header">
                                <div class="mb-2"><img src="/images/icon-amazon.svg" alt="" class="profile_order_header_icon" /> Amazon - <a href="#" class="color_orange">Tên Shop</a></div>
                                <div>Mã ĐH: #ICB2911994 - <span class="color_orange">Đang xử lý</span></div>
                            </div>
                            <div class="profile_order_body">
                                <div class="profile_order_item">
                                    <div class="order_product">
                                        <div class="order_product_row">
                                            <a href="#" title="" class="order_product_thumb">
                                                <img src="http://placehold.jp/360x360.png" alt=""/>
                                            </a>
                                            <div class="order_product_content">
                                                <h3 class="order_product_name">
                                                    <a href="#" title="">iPhone7 plus simフリー 128gb　バッテリー100％ ジェットブラック au simロック解除 docomo softbank 1円スタート 最低落札なし jetblack</a>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="order_product_data">
                                            <table class="table_common order_product_data_tbl">
                                                <tr>
                                                    <td>Mã SP: <span class="color_orange">#ICB2911994</span></td>
                                                    <td>Số lượng: <span class="color_orange">1</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Giá sản phẩm:</td>
                                                    <td class="color_orange">
                                                        <span class="font_size_14">20.000.000¥</span><br/>
                                                        <span>4.000.000.000đ</span>
                                                    </td>
                                                </tr>
                                            </table>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                                                dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                                                ullamcorper suscipit lobortis nisl ut aliquip ex ea
                                            </p>
                                            <div class="complain_images">
                                                {% for i in 0..2 %}
                                                    <div class="complain_image_item">
                                                        <img src="http://placehold.jp/60x60.png" alt="" />
                                                    </div>
                                                {% endfor %}
                                                <a href="#" class="complain_add_image">
                                                    <i class="fas fa-plus"></i>
                                                </a>
                                            </div>
                                            <p>Thêm hình ảnh trực quan bằng chứng khiếu nại</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}

