//Global

.container-custom {width: 100%;;max-width: none;padding-right: 8px;padding-left: 8px;margin-right: auto;margin-left: auto;}
@media (min-width: 576px) {
  .container-custom {max-width: 540px;}
}

@media (min-width: 768px) {
  .container-custom {max-width: 720px;}
}

@media (min-width: 992px) {
  .container-custom {max-width: 960px;}
}

@media (min-width: 1200px) {
  .container-custom {max-width: 1140px;}
}
.container-fluid-custom {width: 100%;padding-right: 8px;padding-left: 8px;margin-right: auto;margin-left: auto;}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
  padding-right: 8px;
  padding-left: 8px;
}
.row {margin-left: -8px;margin-right: -8px}
html, body {height: 100%;}

a {color: $color-text;text-decoration: none;-webkit-font-smoothing: antialiased;
  @include transition(color .3s ease);
  &:hover {color: $color-orange;}
  &.color_blue,
  &.color_link {
    &:hover {color: $color-orange}
  }
  &.color_orange {
    &:hover {color: $color-text}
  }
}
img {max-width: 100%}
hr {border-color: $color-bg}
.hide {display: none !important;}
.show {display: block !important;}

//White space
.white_space_nowarp {white-space: nowrap}

//Text Align
.text_center {text-align: center !important;}
.text_left {text-align: left !important;}
.text_right {text-align: right !important;}

//Color
.color_red {color: $color-red}
.color_orange {color: $color-orange}
.color_orange_secondary {color: $color-orange-secondary}
.color_orange_third {color: $color-orange-third}

.color_blue {color: $color-link}
.color_link {color: $color-link}
.color_gray {color: $color-text-third}
.color_green {color: $color-green}
.color_heart {color: $color-heart}

.fw_light {font-weight: $font-light}
.fw_regular {font-weight: $font-regular}
.fw_normal {font-weight: $font-regular}
.fw_medium {font-weight: $font-medium}
.fw_bold {font-weight: $font-bold}

//Font Size
.font_size_0 {font-size: 0 !important;}
.font_size_xs,
.font_size_12 {font-size: $font-size-xs}

.font_size_s,
.font_size_14 {font-size: $font-size-s}

.font_size_m,
.font_size_16 {font-size: $font-size-m}

.font_size_b,
.font_size_18 {font-size: $font-size-b}

.font_size_bb,
.font_size_20 {font-size: $font-size-bb}


.no-gutters {margin-right: 0;margin-left: 0;
  > .col,
  > [class*="col-"] {padding-right: 0;padding-left: 0;}
}

.clearfix {*zoom: 1;
  &:before,
  &:after {content: " ";display: table;}
  &:after {clear: both;}
}

.count_box {display: flex;text-align: center;
  a {background: $color-gray;display: flex;width: 30px;height: 30px;align-items: center;justify-content: center;color: $color-text;
    &:hover {color: $color-orange;}
  }
  .count_increment {}
  .count_decrement {}
  .count_input {border: solid 1px $color-gray;width: 50px;text-align: center}
}


//Nav Tab
.tab_main {}
.tab_nav_lst {display: flex;overflow: hidden;
  @extend %reset-lst;

  &.tab_nav_lst--primary {background: white;color: $color-orange;margin-bottom: 15px;font-size: $font-size-xs;
    .tab_item {border: solid 1px $color-orange;margin: 0 4px 0 0;white-space: nowrap;
      @include border-radius(4px);
      &:hover,
      &.active {background: $color-orange;
        a {color: white;}
      }
      &:last-child {margin: 0;}
    }
  }
  &.tab_nav_lst--secondary {background: $color-bg-secondary;width: 100%;
    @include border-radius(8px 8px 0 0);
    .tab_item {
      @include border-radius(8px 8px 0 0);
    }
  }
  .tab_item {cursor: pointer;
    a {display: block;padding: 5px 15px;}
    &:hover,
    &.active {background: $color-orange;
      a {color: white;}
    }
  }
}

.tab_content {background: white;width: 100%;position: relative;}
.tab_content_item {display: none;
  &.active {display: block}
}

//Minus Plus
.count_box {display: flex;
  button {background: $color-bg-secondary;width: 30px;height: 30px;line-height: 30px;border: none;text-align: center;
    &:focus {outline: none;}
    &:hover {background: $color-orange;color: white;cursor: pointer}
  }
  .button_minus {}
  .button_plus {}
  .count_box_input {width: 50px;font-size: $font-size-s;text-align: center}
}

//Slick Slide
.slick_custom {display: none;
  &.slick-initialized {display: block}
  .slick-slider {margin: 0;padding: 0 0 30px}
  .slick-dotted.slick-slider {margin: 0}
  .slick-dots {bottom: 0;font-size: 0;
    li {width: auto;height: auto;
      button {background: $color-gray;width: 10px;height: 10px;
        @include border-radius(10px);
        @include transition(all .3s ease);
        &::before {font-size: 0;height: 100%}
        &:hover {background: $color-orange-secondary}
      }
      &.slick-active {
        button {width: 20px;background: $color-orange-secondary;}
      }
    }
  }
}

.scroll_mobile_h {
  display: flex !important;; /* [1] */
  flex-wrap: nowrap !important; /* [1] */
  overflow-x: auto !important;; /* [1] */
  -webkit-overflow-scrolling: touch; /* [4] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [5] */
}
.scroll_mobile_h::-webkit-scrollbar {}



//Main
#main {
  &.main_mobile {display: flex;flex-direction: column;height: 100%;
    .main_container {padding-top: 8px}
  }
}
.page_main {padding: 0 0 75px;flex: 1;}
.main_body {}
.main_content {margin-bottom: 30px}



