//Color
$color-base: #F9F9F9;
$color-bg: #F9F9F9;
$color-bg-secondary: #E6E6E6;
$color-bg-third: #F1F2F2;

$color-link: #0377AE;
$color-link-secondary: #007093;
$color-link-thirdty: #015F7C;
$color-facebook: #4E71A8;
$color-heart: #EF5248;

$color-title: #292929;

$color-text: #333;
$color-text-secondary: #808080;
$color-text-third: #808285;

$color-disable: #E6E6E6;

$color-border: #999;
$color-border-input: #999;
$color-text-input: #808080;

$color-gray: #E6E6E6;
$color-gray-secondary: #ccc;
$color-gray-thirdty: #b3b3b3;

$color-orange: #F8A136;
$color-orange-secondary: #F28C25;
$color-orange-third: #E2751B;

$color-red: #CE2B2C;
$color-red-secondary: #BF2228;
$color-red-thirdty: #AF282A;

$color-green: #7EC362;
$color-green-secondary: #9DC974;
$color-facebook: #3B5998;

$color-yahoo-auction: #f9dd44;
$color-yahoo-shopping: #ec1e3c;
$color-heart: #ec1e3c;
$color-amazon: #f89521;
$color-rakuten: #bf2528;


//Fonts-size
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-b: 18px;
$font-size-bb: 20px;

//Url base
//url(#{$url-img}/site/background.jpg)
$url-img: "../images";

//Breakpoint
$bp-xs: 425px;
$bp-s: 576px;
$bp-mobile: 576px;

$bp-md: 768px;
$bp-tablet: 768px;
$bp-l: 992px;
$bp-laptop: 992px;
$bp-xl: 1200px;